<nav class="navbar navbar-expand-lg bg-secondary fixed-top text-uppercase" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="/"><i class="icon icon-logo1" style="font-size:50px;color: white;"></i></a>
        <button class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#accommodation">accommodation</a>
            </li>
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#team">Contact</a>
            </li>
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#getting">Getting here</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Header -->
    <header class="masthead text-white text-center" style="background-image: url(../../../assets/images/hospitality/header.jpg);background-repeat: no-repeat;background-size: cover;">
      <div class="container" style="position:absolute;top:50%;left:50%;transform: translateX(-50%) translateY(-50%);">
        <h1 class="text-uppercase mb-0">HOSPITALITY</h1>
      </div>
    </header>

    <!-- accommodation Section -->
    <section class="bg-primary text-white mb-0" id="accommodation">
      <div class="container">
        <h2 class="text-center text-uppercase text-white">accommodation</h2>
        <hr class="star-light mb-5">
        <div class="row">
          <div class="col-lg-12 mx-auto">
          	<h3 class="text-white">Charges</h3>
            <p class="lead">All registered students can avail the accommodation services from 12th October 2018 (evening) to 17th October 2018 (morning).
            	<ul class="lead">
            		<li>1 or 2 days - ₹ 1350</li>
            		<li>3 or 4 days - ₹ 1800</li>
            		<li>5 or 6 days - ₹ 2200</li>
            	</ul></p>
          </div>
      </div>
      <div class="row">
          <div class="col-lg-12 mx-auto">
          	<h3 class="text-white">Policy</h3>
            <p class="lead"><ul class="lead">
            	<li>All registered students must bring their valid college identity card and a passport size photograph, for the insurance of the Accommodation Pass.</li>
            	<li>The check-in time is 11 AM while the check-out time is 10 AM on the following day. Students should strictly vacate the common rooms once the period of their registration ends, failing which a fine of 5000/- will be imposed and their belongings will be put outside the common rooms for which Rendezvous team will not be responsible.</li>
            	<li>Kindly go through the detailed <a href="../../../assets/pdf/RDV'18-Acco-Policy.pdf" target="_blank" style="color: blue;">Accommodation Policy</a>.</li>
            </ul></p>
          </div>
        </div>
        <div class="text-center mt-4">
          <a href="https://www.townscript.com/e/rendezvous-2018-accommodation-030342" target="_blank" class="ra btn btn-xl btn-outline-light rab">
            REGISTER
          </a>
        </div>
        <div class="row">
          <div class="col-lg-12 mx-auto">
            <h3 class="text-white">OYO Rooms</h3>
            <p class="lead"><ul class="lead">
              <li>We are proud to announce OYO Rooms as our Official Accommodation Partner.</li>
              <li>For comfortable stay and wonderful Rendezvous experience, register with this link <a href="https://docs.google.com/forms/d/e/1FAIpQLScem6gHEiCUsmNtKiXiV9W9AKTy2hIZxhky0jf50lzAJLQxfg/viewform?c=0&w=1" target="_blank" style="color:blue;">here</a>.</li>
            </ul></p>
          </div>
        </div>
        <div class='customAlert'>
        <p class='message'></p>
        <input type="button" class="confirmButton" value='Ok'>
        </div>
      </div>
    </section>

    <!-- Portfolio Grid Section -->
     <section class="portfolio" id="team">
      <div class="container">
        <h2 class="text-center text-uppercase text-secondary mb-0">TEAM</h2>
        <hr class="star-dark mb-5">
        <div class="row">
          <div class="col-md-6 col-lg-4 mx-auto">
          	 <div class="portfolio-item d-block mx-auto">
              <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                  <h4 class="text-white">Aditi Neema</h4>
                  <p class="lead">Hospitality Coordinator</p>
                  <div class="row mx-auto" style="max-width: 150px;">
                  	<div class="col-xs-6 mx-auto"><a href="https://www.facebook.com/aditi.neema.52" target="_blank" class="c1"><i class="fab fa-facebook-f"></i></a></div>
                  	<div class="col-xs-6 mx-auto"><a href="mailto:aditi.neema23@gmail.com" class="c2"><i class="fas fa-envelope"></i></a></div>
                  </div>
                  <p class="lead">9560933365</p>
                </div>
              </div>
              <img class="img-fluid" src="../../../assets/images/team/AditiNeema_.jpg" alt="">
          </div>
      </div>
          <div class="col-md-6 col-lg-4 mx-auto">
            <div class="portfolio-item d-block mx-auto">
              <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                  <h4 class="text-white">Shubhika Jain</h4>
                  <p class="lead">Hospitality Coordinator</p>
                  <div class="row mx-auto" style="max-width: 150px;">
                  	<div class="col-xs-6 mx-auto"><a href="https://www.facebook.com/shubhika.jain.56" target="_blank" class="c1"><i class="fab fa-facebook-f "></i></a></div>
                  	<div class="col-xs-6 mx-auto"><a href="mailto:shubhikajain2502@gmail.com" class="c2"><i class="fas fa-envelope"></i></a></div>
                  </div>
                  <p class="lead">9911064114</p>
                </div>
              </div>
              <img class="img-fluid" src="../../../assets/images/team/ShubhikaJain_.jpg" alt="">
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mx-auto">
            <div class="portfolio-item d-block mx-auto">
              <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                  <h4 class="text-white">Akshar Madhavaram</h4>
                  <p class="lead">Hospitality Coordinator</p>
                  <div class="row mx-auto" style="max-width: 150px;">
                  	<div class="col-xs-6 mx-auto"><a href="https://www.facebook.com/akshar362" target="_blank" class="c1"><i class="fab fa-facebook-f "></i></a></div>
                  	<div class="col-xs-6 mx-auto"><a href="mailto:akshar362@gmail.com" class="c2"><i class="fas fa-envelope"></i></a></div>
                  </div>
                  <p class="lead">9989363686</p>
                </div>
              </div>
              <img class="img-fluid" src="../../../assets/images/team/Akshar_-5.jpg" alt="">
            </div>
          </div>
        </div>
        <div class="row text-center">
        <div class="col-lg-1">
        </div>
          <div class="col-lg-10 text-center">
            <img class="img-fluid text-center" src="../../../assets/images/hospitality/oyo.png" />
          </div>
          <div class="col-lg-1">
          </div>
        </div>
      </div>
    </section>


    <section class="bg-primary text-white mb-0" id="getting">
      <div class="container">
        <h2 class="text-center text-uppercase text-white">GETTING HERE</h2>
        <hr class="star-light mb-5">
        <div class="row">
          <div class="col-lg-6 mx-auto">
            <p class="lead">The IIT Delhi campus is located in Hauz Khas in South Delhi, with the Main Gate around 1.2 km from the nearest Metro Station of Hauz Khas. Roughly, it is 12-13 kms away from the New Delhi Railway Station opening into Ajmeri Gate, and about the same from the Hazrat Nizamuddin station or the IGI airport.<br><br>

The Campus is well connected by road to each of these three major arrival points. As such, you can readily hire a taxi, cabs or an auto-rickshaw from any of these to reach the Campus, but the metro will be by far the most economical means.<br><br>

Do read this <a href="https://leanpub.com/getting-to-iit-delhi/read" target="_blank" style="color: blue;">primer</a> on getting to IIT Delhi.</p>
          </div>
        <div class="col-lg-6 mx-auto">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14019.154530725877!2d77.1800197670336!3d28.54607223845908!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d1df1853f6eed%3A0xb5bdb65b286c76e0!2sOpen+Air+Theatre%2C+IIT+Delhi!5e0!3m2!1sen!2sin!4v1535391817511" width="100%" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer class="footer text-center">
      <div class="container">
        <div class="row">
          <div class="col-md-6 mb-5 mb-lg-0">
            <h4 class="text-uppercase mb-4">Location</h4>
            <p class="lead mb-0">IIT Delhi, Hauz Khas, Delhi, India</p>
          </div>
          <div class="col-md-6 mb-5 mb-lg-0">
            <h4 class="text-uppercase mb-4">Around the Web</h4>
            <ul class="list-inline mb-0">
              <li class="list-inline-item">
                <a class="btn btn-outline-light btn-social text-center rounded-circle" href="https://www.facebook.com/rendezvous.iitd/" target="_blank">
                  <i class="fab fa-lg fa-facebook-f" style="vertical-align:-20%;transform: translateX(-15%);"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn btn-outline-light btn-social text-center rounded-circle" href="https://www.instagram.com/rendezvous.iitdelhi/" target="_blank">
                  <i class="fab fa-lg fa-instagram" style="vertical-align:-20%;"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn btn-outline-light btn-social text-center rounded-circle" href="https://www.youtube.com/watch?v=YwcosZyHILA" target="_blank">
                  <i class="fab fa-lg fa-youtube" style="vertical-align:-20%;transform: translateX(-10%);"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

    <div class="copyright py-4 text-center text-white">
      <div class="container">
        <p><small>Copyright &copy;2018. All Rights Reserved<br>
BRCA IIT DELHI</p>
</small>
      </div>
    </div>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-to-top d-lg-none position-fixed ">
      <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
        <i class="fa fa-chevron-up"></i>
      </a>
    </div>
