<!DOCTYPE html>
<html lang="en">
<head>
	<%include partials/_metaContent.ejs%>

	<%include partials/_headerCss.ejs%>
</head>
<body>
	<!-- Navbar -->
	<%include  homePartials/navbar.ejs%>
	<!-- Logo and Static -->
	<%include  homePartials/logoStatic.ejs%>
	<!-- Home page Content contains footer-->
	<%include  homePartials/mainContent.ejs%>

	<!-- Footer Scripts -->
	<%include partials/_footerScripts.ejs%>
</body>
</html>
