<div class="logo"><img src="images/logo1.png"  alt="RDV logo" /> </div>

<div class="split-slideshow">
  <div class="slideshow">
    <div class="slider">
      <div class="item">
        <a href="/events/dance"><img src="../../assets/images/events/dance.jpg"/>
          </a>
      </div>
      <div class="item">
        <a href="/events/deb"><img src="../../assets/images/events/deb.jpg"/>
          </a>
      </div>
      <div class="item">
         <a href="/events/pfc"><img src="../../assets/images/events/pfc.jpg"/>
      </div>
      <div class="item">
        <a href="/events/music"><img src="../../assets/images/events/music.jpg"/>
          </a>
      </div>
      <div class="item">
        <a href="/events/drama"><img src="../../assets/images/events/drama.jpg"/>
          </a>
      </div>
      <div class="item">
        <a href="/events/arts"><img src="../../assets/images/events/arts.jpg"/>
          </a>
      </div>
    </div>
  </div>
  <div class="slideshow-text">
    <div class="item">DANCE</div>
    <div class="item">DRAMA</div>
    <div class="item">DEBATING</div>
    <div class="item">PFC</div>
    <div class="item">FINEARTS</div>
    <div class="item">LITERARY</div>
  </div>

</div>
