<section class="footer" style="position:relative;padding-bottom:40px;">
<div class="container-fluid">
        <section class="team" id="team">
                    <div class="container">
                        <div id="app" class="row container_card mx-auto" style="max-width:1000px;">
                            <div class="col-lg-4 card-social"><a href="social/" id="social-link" target="_blank">
                                <card class="wow fadeInDown delay-03s mx-auto" data-image="https://images.pexels.com/photos/339620/pexels-photo-339620.jpeg?w=940&h=650&auto=compress&cs=tinysrgb">
                                    <h1 class="card-head" slot="header">Social</h1>
                                    <p class="card-para" slot="content">A Fight for Existance.</p>
                                </card>
                            </a></div>
                            <div class="col-lg-4 card-team"><a href="/team" id="team-link" target="_blank">
                            <card class="wow fadeInDown delay-06s mx-auto" data-image="https://images.pexels.com/photos/207896/pexels-photo-207896.jpeg?w=940&h=650&auto=compress&cs=tinysrgb">
                                <h1 class="card-head" slot="header">Team</h1>
                                <p class="card-para" slot="content">Meet the soul of Rendezvous.</p>
                            </card>
                        </a></div>
                        <div class="col-lg-4 card-hospitality"><a href="/accommodation" id="hospi-link" target="_blank">
                            <card class="hospitality wow fadeInDown delay-09s mx-auto" data-image="https://images.pexels.com/photos/79691/night-79691.jpeg?w=940&h=650&auto=compress&cs=tinysrgb">
                                <h1 class="card-head accod" slot="header">Hospitality</h1>
                                <p class="card-para" slot="content">The difference a stay can make.</p>
                            </card>
                        </a></div>
                    </div>
                </div>
            </section>
<div class="row container-fluid">
<img src="http://rdv-website-assets.s3.amazonaws.com/images/rendezvous.png" class="img-fluid" style="max-width:200px;margin-left:50%;transform:translateX(-43%);max-height:100px;" />
</div>
<div class="row mx-auto" style="max-width:350px;">
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 my-auto text-center">
<a href="https://www.facebook.com/rendezvous.iitd/" target="_blank"><i class="ficon fab fa-facebook-square fa-4x text-center" style="color:#4867AA;"></i></a>
</div>
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 my-auto text-center">
<a href="https://www.instagram.com/rendezvous.iitd/" target="_blank"><i class="ficon fab fa-instagram fa-4x text-center" style="color:#3B739D;"></i></a>
</div>
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 my-auto text-center">
<a href="https://www.youtube.com/watch?v=YwcosZyHILA" target="_blank"><i class="ficon fab fa-youtube fa-4x text-center" style="color:#E52117;"></i></a>
</div>
</div>
<br>
<p class="text-center">
<span class="copyright">&copy; 2018. All Rights Reserved<br />BRCA IIT DELHI</span>
</p>
</div>
</section>
