<!-- Rendezvous logo -->
<a href="/">
	<i class="icon icon-logo1 mainlogo"></i>
</a>
<!-- social links -->
<ul class="socialul">
	<li class="text-center social">
		<a href="https://www.facebook.com/rendezvous.iitd/" target="_blank"><i class="fab fa-facebook-f sociallink"></i></a>
	</li>
	<li class="text-center social">
		<a href="https://www.instagram.com/rendezvous.iitd/" target="_blank"><i class="fab fa-instagram sociallink"></i></a>
	</li>
</ul>

<!-- login and register button -->
<div class="button breg" id="btnlogreg">
<!-- <a href="/login" class="login-register">
<button class="slidebutton"><b>REGISTER</b></button>
</a> -->
<a href="/login" class="bttn bttnspec login-register" style="">Register/Login</a>
</div>

<i id="btnlogregafter" class="fas fa-info-circle icircle" style="" onclick="myfunction2()"></i>


<div  class="own alert alert-light alert-dismissible">
	<button type="button" class="close" onclick="myfunction()">&times;</button>
	<ul style="margin-top:20px;color:#20414d!important;">
	<li style="margin-bottom:5px;" id="username"><b style="color:black;">Username</b> - Name</li>
	<li style="margin-bottom:5px;" id="rdvid"><b style="color:black;">RDV ID</b> - ID</li>
	<li style="margin-bottom:5px;"><b style="color:black;">RDV Points</b> - <span id="points"></span></li>
	<li><div class="button"  style="padding:0px;margin-bottom:10px;">
<a onClick="logout()" class="bttn logbtn login-register">Logout</a>

</div></li>
	</ul>
</div>
<!-- register/login -->
<!-- <a href="/login" class="bttn login-register">Register</a> -->

<div class="since-img">
	<img src="http://rdv-website-assets.s3.amazonaws.com/images/since.png" alt="" class="img-fluid">
</div>
