<main >
			<div class="slideshow">
				<div class="slides">
					<div class="slide slide--current">
						<video autoplay muted loop id="bannerVideo" class=" slide_bg" poster="http://rdv-website-assets.s3.ap-south-1.amazonaws.com/images/poster.jpg"style="background:transparent no-repeat url('http://rdv-website-assets.s3.ap-south-1.amazonaws.com/images/poster.jpg');background-size:100%">
  						<source src="http://rdv-website-assets.s3.ap-south-1.amazonaws.com/images/banner.mp4" type="video/mp4">
						</video>
						<div class="container pictorial slide__title">
							<div class="text-center my-auto text-white">
								<img src="http://rdv-website-assets.s3.ap-south-1.amazonaws.com/images/rendezvous.png" alt="" class="img-fluid banner-text">
							</div>
						</div>
						<a><div class="arrow">
						<span class="dot mx-auto"></span>
						</div></a>



					</div>
					<div class="slide">
						<div class="slide__img" style="background-image: url('http://rdv-website-assets.s3.ap-south-1.amazonaws.com/images/section2.jpg')"></div>
						<div class="container pictorial slide__title">
							<div class="text-center my-auto text-white">
								<img src="http://rdv-website-assets.s3.ap-south-1.amazonaws.com/images/symphony.png" alt="" class="img-fluid banner-text">
							</div>
						</div>
						<a><div class="arrow">
						<span class="dot mx-auto" id="dot1"></span>
						</div></a>
					</div>
				<div class="slide" id="burger"  style="overflow: auto;overflow-x: hidden;">
					<div id="cola" class="slide__img" style="background-image: url('http://rdv-website-assets.s3.ap-south-1.amazonaws.com/images/section1.jpg')"></div>
						<header class="slide__title masthead text-center text-white" style="height:100%;">
					<div class="container my-auto pictorial">
              <div class="text-center my-auto text-white">
                  <img src="http://rdv-website-assets.s3.ap-south-1.amazonaws.com/images/nostalgia.png" alt="" class="img-fluid banner-text">
              </div>
					</div>
				</header>
      <div id="tester">
        <section style="padding-top:80px;padding-bottom:30px;">
					<div class="fluid-container">
						<div class="row" style="margin-right: 0px;">
							<div class="col-lg-7 col-md-6">
								<h1 class="media1 flex-center"><span class="media1-h1">A</span><br><span class="media1-h2">STROLL DOWN</span><br><span class="media1-h3">THE MEMORY LANE</span></h1>
								<p class="text media2">
									Rendezvous, IIT Delhi, the largest cultural festival in North India, present you yet another mind-boggling edition of its 4-day extravaganza. This time as you walk down the lanes of the campus, let’s together orchestrate the times we have lived through. And to help you make another one of those cherished memories, IIT Delhi is ready and waiting for you, this 13th to 16th October. Come and feel Nostalgia. See you at Rendezvous!
									<br><br>
									<a href="/login" class="bttn fg" id="login-bttn">Login</a>
								</p>
							</div>
							<div class="col-lg-5 col-md-6" style="padding-right: 0px;">
								<div class="media3 img-parallax-box1">
								<img class="img-fluid img-parallax1" src="http://rdv-website-assets.s3.ap-south-1.amazonaws.com/images/elements/gramo.png" id="gramo">
								</div>
							</div>
						</div>
					</div>
				</section>
				<div class="row container-fluid mx-auto">
				<div class="col-md-8 col-sm-8 mx-auto">
				<img src="http://rdv-website-assets.s3.ap-south-1.amazonaws.com/images/plane.png" class="img-fluid el1" />
				</div>
				<div class="col-md-4 col-sm-4 mx-auto">
				<img src="http://rdv-website-assets.s3.ap-south-1.amazonaws.com/images/radio.png" class="img-fluid el2" style="max-width:350px;" />
				</div>
				</div>
				<section  class="content-2">
					<div class="fluid-container">
						<div class="row" style="margin-right: 0px;">
							<div class="col-lg-8 col-md-6">
								<div class="row mx-auto">
								<div class="col-lg-8">
								<h1 class="media1 flex-center"><span class="media1-h4">A</span><br><span class="media1-h5">SHOW FOR</span><br><span class="media1-h6">EVERYONE</span></h1>
								</div>
								<div class="col-lg-4 uncounter" style="padding-top:150px;padding-left:20px;">
									<ul id="counter">
							<li>
							<div class="row">
							<div class="col-md-4 my-auto" style="margin-bottom:15px;">
							<img src="../assets/images/footfall_new.svg" class="ci img-fluid">
							</div>
							<div class="col-md-8 my-auto" style="padding-left:20px;">
							<h3><span class="timer" data-from="0" data-to="80000" data-speed="1000"></span>+ <br>footfall</h3>
							</div>
							</div>
							</li>
							<li>
							<div class="row">
							<div class="col-md-4 my-auto" style="margin-bottom:15px;">
							<img src="../assets/images/world_new.svg" class="ci img-fluid">
							</div>
							<div class="col-md-8 my-auto" style="padding-left:20px;">
							<h3><span class="timer" data-from="0" data-to="170" data-speed="1000"></span>+ artists from <br><span class="timer" data-from="0" data-to="30" data-speed="1000"></span>+ countries</h3>
							</div>
							</div>
							</li>
							<li>
							<div class="row">
							<div class="col-md-4 my-auto" style="margin-bottom:15px;">
							<img src="../assets/images/trophy_new.svg" class="ci img-fluid">
							</div>
							<div class="col-md-8 my-auto" style="padding-left:20px;">
							<h3><span class="timer" data-from="0" data-to="100" data-speed="1000"></span>+ competitive <br>events</h3>
							</div>
							</div>
							</li>
							<li>
							<div class="row">
							<div class="col-md-4 my-auto" style="margin-bottom:15px;">
							<img src="../assets/images/rupee_new.svg" class="ci img-fluid">
							</div>
							<div class="col-md-8 my-auto" style="padding-left:20px;">
							<h3><span class="timer" data-from="0" data-to="2000000" data-speed="1000"></span> INR <br>prize money</h3>
							</div>
							</div>
							</li>
							</ul>
								</div>
								</div>
								<p class="text media2">
								“With hundreds of exciting events, Rendezvous promises to be a delight for every palate. Big names like Hoobastank, Arijit Singh, Vishal Shekhar, Shankar Ehsaan Loy, Hardy Sandhu, Salim-Sulaiman and many more have graced Rendezvous with their presence. The extravaganza hosts International artists, competitions and much more, all packed into one epic cultural fiesta!”
								<br><br>
								<a href="/events" class="bttn gh" id="event-bttn">Events</a>
								</p>
							</div>
							<div class="col-lg-4 col-md-6" style="padding-right: 0px;">
								<div class="media3 img-parallax-box2">
								<img class="img-fluid img-parallax3" src="http://rdv-website-assets.s3.ap-south-1.amazonaws.com/images/bg.png" style="max-width:200px;">
								<img class="img-fluid img-parallax4" src="http://rdv-website-assets.s3.ap-south-1.amazonaws.com/images/tape.png" style="max-width:200px;">
									<img class="img-fluid img-parallax2" src="http://rdv-website-assets.s3.ap-south-1.amazonaws.com/images/guitar.png">
								</div>
							</div>
						</div>
					</div>
				</section>
				<!-- Footer -->
				<svg class="hidden">
			<defs>
				<symbol id="icon-arrow" viewBox="0 0 24 24">
					<title>arrow</title>
					<polygon points="6.3,12.8 20.9,12.8 20.9,11.2 6.3,11.2 10.2,7.2 9,6 3.1,12 9,18 10.2,16.8 "/>
				</symbol>
				<symbol id="icon-drop" viewBox="0 0 24 24">
					<title>drop</title>
					<path d="M12,21c-3.6,0-6.6-3-6.6-6.6C5.4,11,10.8,4,11.4,3.2C11.6,3.1,11.8,3,12,3s0.4,0.1,0.6,0.3c0.6,0.8,6.1,7.8,6.1,11.2C18.6,18.1,15.6,21,12,21zM12,4.8c-1.8,2.4-5.2,7.4-5.2,9.6c0,2.9,2.3,5.2,5.2,5.2s5.2-2.3,5.2-5.2C17.2,12.2,13.8,7.3,12,4.8z"/><path d="M12,18.2c-0.4,0-0.7-0.3-0.7-0.7s0.3-0.7,0.7-0.7c1.3,0,2.4-1.1,2.4-2.4c0-0.4,0.3-0.7,0.7-0.7c0.4,0,0.7,0.3,0.7,0.7C15.8,16.5,14.1,18.2,12,18.2z"/>
				</symbol>
				<symbol id="icon-prev" viewBox="0 0 100 50">
					<title>prev</title>
					<polygon points="5.4,25 18.7,38.2 22.6,34.2 16.2,27.8 94.6,27.8 94.6,22.2 16.2,22.2 22.6,15.8 18.7,11.8"/>
				</symbol>
				<symbol id="icon-next" viewBox="0 0 100 50">
					<title>next</title>
					<polygon points="81.3,11.8 77.4,15.8 83.8,22.2 5.4,22.2 5.4,27.8 83.8,27.8 77.4,34.2 81.3,38.2 94.6,25 "/>
				</symbol>
				<symbol id="icon-octicon" viewBox="0 0 24 24">
					<title>octicon</title>
					<path d="M12,2.2C6.4,2.2,1.9,6.7,1.9,12.2c0,4.4,2.9,8.2,6.9,9.6c0.5,0.1,0.7-0.2,0.7-0.5c0-0.2,0-0.9,0-1.7c-2.8,0.6-3.4-1.4-3.4-1.4C5.6,17.1,5,16.8,5,16.8C4.1,16.2,5,16.2,5,16.2c1,0.1,1.5,1,1.5,1c0.9,1.5,2.4,1.1,2.9,0.8c0.1-0.7,0.4-1.1,0.6-1.3c-2.2-0.3-4.6-1.1-4.6-5c0-1.1,0.4-2,1-2.7C6.5,8.8,6.2,7.7,6.7,6.4c0,0,0.8-0.3,2.8,1C10.3,7.2,11.1,7.1,12,7c0.9,0,1.7,0.1,2.5,0.3c1.9-1.3,2.8-1,2.8-1c0.5,1.4,0.2,2.4,0.1,2.7c0.6,0.7,1,1.6,1,2.7c0,3.9-2.4,4.7-4.6,5c0.4,0.3,0.7,0.9,0.7,1.9c0,1.3,0,2.4,0,2.8c0,0.3,0.2,0.6,0.7,0.5c4-1.3,6.9-5.1,6.9-9.6C22.1,6.7,17.6,2.2,12,2.2z" />
				</symbol>
				<clipPath id="polygon-clip-rhomboid" clipPathUnits="objectBoundingBox">
					<polygon points="0 1, 0.3 0, 1 0, 0.7 1" />
				</clipPath>
			</defs>
		</svg>
		<section class="highlight">
			<div class="highlight-slideshow" tabindex="0">
				<div class="highlight-slide highlight-slide--layout-1" data-layout="layout1">
					<div class="highlight-slide-imgwrap">
						<div class="highlight-slide__img"><div class="highlight-slide__img-inner" style="background-image: url(http://rdv-website-assets.s3.ap-south-1.amazonaws.com/images/Highlights/1.jpg);"></div></div>
						<div class="highlight-slide__img"><div class="highlight-slide__img-inner" style="background-image: url(http://rdv-website-assets.s3.ap-south-1.amazonaws.com/images/Highlights/2.jpg);"></div></div>
						<div class="highlight-slide__img"><div class="highlight-slide__img-inner" style="background-image: url(http://rdv-website-assets.s3.ap-south-1.amazonaws.com/images/Highlights/3.jpg);"></div></div>
					</div>
					<div class="highlight-slide__title">
						<h3 class="highlight-slide__title-main">Highlights</h3>

					</div>
				</div><!-- /highlight-slide -->
				<div class="highlight-slide highlight-slide--layout-1" data-layout="layout1">
					<div class="highlight-slide-imgwrap">
						<div class="highlight-slide__img"><div class="highlight-slide__img-inner" style="background-image: url(http://rdv-website-assets.s3.ap-south-1.amazonaws.com/images/Highlights/4.jpg);"></div></div>
						<div class="highlight-slide__img"><div class="highlight-slide__img-inner" style="background-image: url(http://rdv-website-assets.s3.ap-south-1.amazonaws.com/images/Highlights/5.jpg);"></div></div>
						<div class="highlight-slide__img"><div class="highlight-slide__img-inner" style="background-image: url(http://rdv-website-assets.s3.ap-south-1.amazonaws.com/images/Highlights/6.jpg);"></div></div>
					</div>
					<div class="highlight-slide__title">
						<h3 class="highlight-slide__title-main">Highlights</h3>

					</div>
				</div><!-- /highlight-slide -->
				<div class="highlight-slide highlight-slide--layout-1" data-layout="layout1">
					<div class="highlight-slide-imgwrap">
						<div class="highlight-slide__img"><div class="highlight-slide__img-inner" style="background-image: url(http://rdv-website-assets.s3.ap-south-1.amazonaws.com/images/Highlights/7.jpg);"></div></div>
						<div class="highlight-slide__img"><div class="highlight-slide__img-inner" style="background-image: url(http://rdv-website-assets.s3.ap-south-1.amazonaws.com/images/Highlights/8.jpg);"></div></div>
						<div class="highlight-slide__img"><div class="highlight-slide__img-inner" style="background-image: url(http://rdv-website-assets.s3.ap-south-1.amazonaws.com/images/Highlights/9.jpg);"></div></div>
					</div>
					<div class="highlight-slide__title">
						<h3 class="highlight-slide__title-main">Highlights</h3>

					</div>
				</div><!-- /highlight-slide -->
				<div class="highlight-slide highlight-slide--layout-1" data-layout="layout1">
					<div class="highlight-slide-imgwrap">
						<div class="highlight-slide__img"><div class="highlight-slide__img-inner" style="background-image: url(http://rdv-website-assets.s3.ap-south-1.amazonaws.com/images/Highlights/10.jpg);"></div></div>
						<div class="highlight-slide__img"><div class="highlight-slide__img-inner" style="background-image: url(http://rdv-website-assets.s3.ap-south-1.amazonaws.com/images/Highlights/11.jpg);"></div></div>
						<div class="highlight-slide__img"><div class="highlight-slide__img-inner" style="background-image: url(http://rdv-website-assets.s3.ap-south-1.amazonaws.com/images/Highlights/12.jpg);"></div></div>
					</div>
					<div class="highlight-slide__title">
						<h3 class="highlight-slide__title-main">Highlights</h3>

					</div>
				</div><!-- /highlight-slide -->
				<div class="highlight-slide highlight-slide--layout-1" data-layout="layout1">
					<div class="highlight-slide-imgwrap">
						<div class="highlight-slide__img"><div class="highlight-slide__img-inner" style="background-image: url(http://rdv-website-assets.s3.ap-south-1.amazonaws.com/images/Highlights/13.jpg);"></div></div>
						<div class="highlight-slide__img"><div class="highlight-slide__img-inner" style="background-image: url(http://rdv-website-assets.s3.ap-south-1.amazonaws.com/images/Highlights/14.jpg);"></div></div>
						<div class="highlight-slide__img"><div class="highlight-slide__img-inner" style="background-image: url(http://rdv-website-assets.s3.ap-south-1.amazonaws.com/images/Highlights/15.jpg);"></div></div>
					</div>
					<div class="highlight-slide__title">
						<h3 class="highlight-slide__title-main">Highlights</h3>

					</div>
				</div><!-- /highlight-slide -->
				<div class="highlight-slide highlight-slide--layout-1" data-layout="layout1">
					<div class="highlight-slide-imgwrap">
						<div class="highlight-slide__img"><div class="highlight-slide__img-inner" style="background-image: url(http://rdv-website-assets.s3.ap-south-1.amazonaws.com/images/Highlights/16.jpg);"></div></div>
						<div class="highlight-slide__img"><div class="highlight-slide__img-inner" style="background-image: url(http://rdv-website-assets.s3.ap-south-1.amazonaws.com/images/Highlights/17.jpg);"></div></div>
						<div class="highlight-slide__img"><div class="highlight-slide__img-inner" style="background-image: url(http://rdv-website-assets.s3.ap-south-1.amazonaws.com/images/Highlights/18.jpg);"></div></div>
					</div>
					<div class="highlight-slide__title">
						<h3 class="highlight-slide__title-main">Highlights</h3>

					</div>
				</div><!-- /highlight-slide -->
				<div class="highlight-slide highlight-slide--layout-1" data-layout="layout1">
					<div class="highlight-slide-imgwrap">
						<div class="highlight-slide__img"><div class="highlight-slide__img-inner" style="background-image: url(http://rdv-website-assets.s3.ap-south-1.amazonaws.com/images/Highlights/19.jpg);"></div></div>
						<div class="highlight-slide__img"><div class="highlight-slide__img-inner" style="background-image: url(http://rdv-website-assets.s3.ap-south-1.amazonaws.com/images/Highlights/20.jpg);"></div></div>
						<div class="highlight-slide__img"><div class="highlight-slide__img-inner" style="background-image: url(http://rdv-website-assets.s3.ap-south-1.amazonaws.com/images/Highlights/21.jpg);"></div></div>
					</div>
					<div class="highlight-slide__title">
						<h3 class="highlight-slide__title-main">Highlights</h3>

					</div>
				</div><!-- /highlight-slide -->

				<nav class="highlight-slideshow__nav highlight-slideshow__nav--arrows">
					<button id="prev-highlight-slide" class="btn btn--arrow" aria-label="Previous highlight-slide"><svg class="icon icon--prev"><use xlink:href="#icon-prev"></use></svg></button>
					<button id="next-highlight-slide" class="btn btn--arrow" aria-label="Next highlight-slide"><svg class="icon icon--next"><use xlink:href="#icon-next"></use></svg></button>
				</nav>
			</div><!-- /highlight-slideshow -->
		</section>


				<%include ./footerSection.ejs%>
      </div>


				</div>
				</div>
				<nav class="slidenav"	>
					<button class="slidenav__item slidenav__item--prev"></button>
					<span></span>
					<button class="slidenav__item slidenav__item--next"></button>
				</nav>
			</div>
		</main>
