article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}body{margin:0;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;margin:0.67em 0;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:bold;}dfn{font-style:italic;}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace,serif;font-size:1em;}pre{white-space:pre-wrap;}q{quotes:"\201C" "\201D" "\2018" "\2019";}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-0.5em;}sub{bottom:-0.25em;}img{border:0;}svg:not(:root){overflow:hidden;}figure{margin:0;}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em;}legend{border:0;padding:0;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,select{text-transform:none;}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;}button[disabled],html input[disabled]{cursor:default;}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}
*,
*::after,
*::before {
	box-sizing: border-box;
}
/* variables */
:root{
	--main-color-primary:#dc3545;
}

html {
	/* background: #fff; */
}
@font-face {
    font-family: wild;
    src: url(https://assets.rdviitd.org/fonts/somethingwild-Regular.ttf);
}
@font-face {
    font-family: swistblnk;
    src: url(https://assets.rdviitd.org/fonts/SwistblnkBanthers.ttf);
}
@font-face {
	font-family: Kizo;
	src: url('https://assets.rdviitd.org/fonts/Kizo-Bold.otf');
}
body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
	/* min-height: 100vh; */
	color: #57585c;
	color: var(--color-text);
	/* background-color: #fff; */
	/* background-color: var(--color-bg); */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
/* Color schemes */
.demo-1 {
	--color-text: #000;
    --color-bg: #f1f1f1;
    --color-link: #000;
    --color-link-hover: #0e54c1;
    --color-stitle: #000;
    --fontsize-stitle: 12vw;
    --color-sdesc: #000;
    --color-slink: #000;
    --color-slink-hover: #000;
    --color-slink-bg: #fff;
    --color-slink-hover-bg: #0e54c1;
    --color-nav: #000;
    --color-nav-hover: #0E54CA;
}

.demo-2 {
	--color-text: #fff;
    --color-bg: #000;
    --color-link: #fff;
    --color-link-hover: #37dbff;
    --color-stitle: #eaff68;
    --fontsize-stitle: 12vw;
    --color-sdesc: #fff;
    --color-slink: #f1f1f1;
    --color-slink-hover: #000;
    --color-slink-bg: #000;
    --color-slink-hover-bg: #37dbff;
    --color-nav: #f1f1f1;
    --color-nav-hover: #37dbff;
}

.demo-3 {
	--color-text: #fff;
    --color-bg: #333;
    --color-link: #fff;
    --color-link-hover: #ED4264;
    --color-stitle: #f1f1f1;
    --fontsize-stitle: 12vw;
    --color-sdesc: #f1f1f1;
    --color-slink: #f1f1f1;
    --color-slink-hover: #f1f1f1;
    --color-slink-bg: #000;
    --color-slink-hover-bg: #ED4264;
    --color-nav: #ED4264;
    --color-nav-hover: #000;
}

.demo-4 {
	--color-text: #000;
	--color-bg: #f1f1f1;
	--color-link: #000;
	--color-link-hover: #74c3d0;
	--color-stitle: #000;
	--fontsize-stitle: 8vw;
	--color-nav: #74c3d0;
	--color-nav-hover: #000;
}

.demo-5 {
	--color-text: #fff;
    --color-bg: #576267;
    --color-link: #000;
    --color-link-hover: #da281b;
    --color-stitle: #000;
    --fontsize-stitle: 12vw;
    --color-sdesc: #f1f1f1;
    --color-slink: #f1f1f1;
    --color-slink-hover: #f1f1f1;
    --color-slink-bg: #000;
    --color-slink-hover-bg: #da281b;
    --color-nav: #f1f1f1;
    --color-nav-hover: #da281b;
}

.demo-6 {
	--color-text: #fff;
    --color-bg: #020202;
    --color-link: #fff;
    --color-link-hover: #415bf8;
    --color-stitle: #f1f1f1;
    --fontsize-stitle: 12vw;
    --color-nav: #fff;
    --color-nav-hover: #415bf8;
}

/* Fade effect */
.js body {
	opacity: 0;
	transition: opacity 0.3s;
}

.js body.render {
	opacity: 1;
}

/* Page Loader */
.js .loading::before {
	content: '';
	position: fixed;
	z-index: 100000;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--color-bg);
}

.js .loading::after {
	content: '';
	position: fixed;
	z-index: 100000;
	top: 50%;
	left: 50%;
	width: 60px;
	height: 60px;
	margin: -30px 0 0 -30px;
	pointer-events: none;
	border-radius: 50%;
	opacity: 0.4;
	background: var(--color-link);
	animation: loaderAnim 0.7s linear infinite alternate forwards;
}

@keyframes loaderAnim {
	to {
		opacity: 1;
		transform: scale3d(0.5,0.5,1);
	}
}

a {
	text-decoration: none;
	color: var(--color-link);
	outline: none;
}

a:hover,
a:focus {
	color: var(--color-link-hover);
	outline: none;
}

.hidden {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	pointer-events: none;
}

/* Icons */
.icon {
	display: block;
	width: 1.5em;
	height: 1.5em;
	margin: 0 auto;
	fill: currentColor;
}

.icon--arrow-rot {
	transform: rotate(180deg);
}

main {
	position: relative;
	width: 100%;
}

.content {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	min-height: 100vh;
}

.content--fixed {
	position: fixed;
	z-index: 10000.;
	top: 0;
	left: 0;
	display: grid;
	align-content: space-between;
	width: 100%;
	max-width: none;
	min-height: 0;
	height: 100vh;
	padding: 1.5em;
	pointer-events: none;
	grid-template-columns: 50% 50%;
	grid-template-rows: auto auto 4em;
	grid-template-areas: 'header github'
	'... ...'
	'... demos';
}

.content--fixed a {
	pointer-events: auto;
}

/* Header */
.codrops-header {
	position: relative;
	z-index: 100;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	align-items: center;
	align-self: start;
	grid-area: header;
	justify-self: start;
}

.codrops-header__title {
	font-size: 1em;
	font-weight: normal;
	margin: 0;
	padding: 0;
}

.github {
	display: block;
	align-self: start;
	grid-area: github;
	justify-self: end;
	padding: 0.5em 0;
}

.demos {
	position: relative;
	display: block;
	align-self: end;
	text-align: center;
	grid-area: demos;
}

.demo {
	margin: 0 0.15em;
}

.demo:hover,
.demo:focus {
	opacity: 0.5;
}

.demo span {
	white-space: nowrap;
	text-transform: lowercase;
	pointer-events: none;
}

.demo span::before {
	content: '#';
}

a.demo--current {
	pointer-events: none;
}

/* Top Navigation Style */
.codrops-links {
	position: relative;
	display: flex;
	justify-content: center;
	margin: 0 1em 0 0;
	text-align: center;
	white-space: nowrap;
}

.codrops-icon {
	display: inline-block;
	margin: 0.15em;
	padding: 0.25em;
}

.slideshow {
	width: 100%;
	height: 100vh;
	position: relative;
	overflow: hidden;
}

.slides {
	position: absolute;
	width: 100%;
	height: 100%;
}

.slide {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
	opacity: 0;
	pointer-events: none;
	align-content: center;
	justify-content: center;
	align-items: center;
}

.slide--current {
	opacity: 1;
	pointer-events: auto;
}

.slide__img {
	position: absolute;
	width: 100%;
	height: calc(75% + 400px);
	background-size: cover;
	background-position: center center;
}
#cola{
	height: 100%;
}
.slidenav {
	position: fixed;
	z-index: 100;
	width: 300px;
	margin-left: -150px;
	left: 50%;
	bottom: 0;
	text-align: center;
	padding: 2em;
}

.slidenav__item {
	border: 0;
	background: none;
	font-weight: bold;
	color: var(--color-nav);
}

.slidenav__item:focus {
	outline: none;
}

.slidenav__item:hover {
	color: var(--color-nav-hover);
}

.shape {
	position: absolute;	width: 100%;
	height: 100%;
	fill: var(--color-shape-fill);
	top: 0;
	pointer-events: none;
}


@media screen and (min-width: 55em) {
	.demos {
		display: flex;
		justify-self: end;
	}
	.demo {
		display: block;
		width: 17px;
		height: 17px;
		margin: 0 4px;
		border-radius: 50%;
		background: var(--color-link);
	}
	a.demo--current {
		background: var(--color-link-hover);
	}
	.demo span {
		line-height: 1;
		position: absolute;
		right: 100%;
		display: none;
		margin: 0 1em 0 0;
	}
	.demo--current span {
		display: block;
	}
}

@media screen and (max-width: 55em) {
	body {
		padding: 0 0 4em 0;
	}
	.content {
		flex-direction: column;
		height: auto;
		min-height: 0;
		padding-bottom: 10em;
	}
	.content--fixed {
		position: relative;
		z-index: 1000;
		display: block;
		padding: 0.85em;
	}
	.codrops-header {
		flex-direction: column;
		align-items: center;
	}
	.codrops-header__title {
		font-weight: bold;
		padding-bottom: 0.25em;
		text-align: center;
	}
	.github {
		display: none;
	}
	.codrops-links {
		margin: 0;
	}
	.slide__desc {
		font-size: 1em;
	}
	.slide__link {
		font-size: 0.85em;
	}
}

.media1{
	font-size: 10.625vw;
	margin-left:33%;
	letter-spacing: 0px;
	margin-bottom:70px;
	font-family: Kizo;
}
.media1-h1{
	display: inline-block;
	opacity: 0;
	transform: translateX(-40px);
	transition: all ease 500ms;
}
.media1-h1.active{
	opacity: 1;
	transform: translateX(0px);
}
.media1-h2{
	display: inline-block;
	opacity: 0;
	transform: translateX(-40px);
		transition: all ease 600ms;
}
.media1-h2.active{
	opacity: 1;
	transform: translateX(0px);
}
.media1-h3{
	display: inline-block;
	opacity: 0;
	transform: translateX(-40px);
	transition: all ease 700ms;
}
.media1-h3.active{
	opacity: 1;
	transform: translateX(0px);
}
.media1-h4{
	display: inline-block;
	opacity: 0;
	transform: translateX(-40px);
	transition: all ease 500ms;
}
.media1-h4.active{
	opacity: 1;
	transform: translateX(0px);
}
.media1-h5{
	display: inline-block;
	opacity: 0;
	transform: translateX(-40px);
	transition: all ease 600ms;
}
.media1-h5.active{
	opacity: 1;
	transform: translateX(0px);
}
.media1-h6{
	display: inline-block;
	opacity: 0;
	transform: translateX(-40px);
	transition: all ease 700ms;
}
.media1-h6.active{
	opacity: 1;
	transform: translateX(0px);
}
.media2{
	font-size: 1.425rem;
	margin-left: 15%;
	font-family: 'Roboto',sans-serif;
	line-height:1.5;
}
.media3{
	position:absolute;
	bottom:50px;
}

@media  (max-width: 991px) and (min-width: 768px) {
	.media1{
		margin-left:15%;
		font-size: 8.5vw;
	}
	.media2{
		margin-left:15%;
		font-size:1.75vw;
	}
}
#counter{
	display: inline-grid;
}
@media  (max-width: 1050px){
	.uncounter{
		display: none;
	}
}
@media  (max-width: 768px) {
	.media1{
		text-align: center;
		margin:0px 30px;
		font-size: 75px;
	}
	.media2{
		margin: 0px 30px;
		font-size: 20px;
	}
	.media3{
		position:relative;
		margin-right:30px;
		margin-left:30px;
	}

}

.login-text{
	vertical-align: middle;
	margin-right: 0.25rem;
	font-size: 16px;
	display: inline;

}

.social
{
	margin-bottom: 30px;
}
.sociallink{
	font-size: 25px;
	color: var(--main-color-primary);
	text-shadow: 0 2px 10px rgba(0, 0, 0, 0.26), 0 3px 6px rgba(0, 0, 0, 0.26);
}
.socialul{
	list-style: none;
	position: fixed;
	z-index: 50;
	margin-left: 50px;
	bottom:13.33px;
}
/* since  img */
.since-img{
	position: absolute;
	right: 35px;
	display: block;
	top: 15px;
	max-width: 6.5rem;
	z-index: 11;
	text-shadow: 0 2px 10px rgba(0, 0, 0, 0.26), 0 3px 6px rgba(0, 0, 0, 0.26);
}
@media screen and (max-width:999px){
	.since-img{
		display: none;
	}
}
.mainlogo {
  display: block;
	z-index: 50;
	position: fixed;
	margin: 40px;
  width: 40px;
}
.mainhead{
	font-size: 15.5vw;
	font-family:'wild',sans-serif;
}
.mainhead1{
	font-size: 17.5vw;
	font-family:'wild',sans-serif;
}
.pictorial{
	height:100%;
	align-items: center;
	display: flex;
	flex-direction: column;
	z-index: 11;
}
@media (max-width: 800px){
	.mainhead {
		font-size: 19.8vw;
	}
	.mainhead1 {
		font-size: 22.3vw;
	}
}
.o-container{
	transform: translateY(100px);
	opacity:0;
	transition: all ease 1200ms;
}
.o-container.active{
	opacity: 1;
	transform: translateY(0px);
}
.pagination{
	z-index: 100;
	position: fixed;
}
.page{
	list-style: none;
	position: fixed;
	z-index: :100;
	top:50%;
	right:5%;
	transform: translateY(-50%);
}
.slide_abc{
	margin-bottom: 30px;
	z-index: 100;
}
.bullet{
	width:15px;
	height:15px;
	border:1px solid white;
	border-radius: 50%;
}
.number{
	font-family: 'Kizo',sans-serif;
	font-size: 1.875rem;
}
.slide_abc .number{
	visibility: hidden;
	display: inline-block;
  width: 15px;
}
.slide_abc.active .number{
	visibility: visible;
}
.slide_abc.active .bullet{
	visibility: hidden;
}

/* bg-img */
#tester{
	background-image: url(https://assets.rdviitd.org/images/bg.jpg);
	background-size: contain;
	background-repeat: repeat-y;
}
/* Video */
#bannerVideo{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: 10;
}

.banner-text{
	max-width: 50%;
	width: 500px;
}
.since-img{
	transform:scale(0.65) translateX(33%) translateY(-45%);
	position: absolute;
	right: 30px;
	top:35px;
	z-index: 50;
}
.ci{
	width:60px;
	margin-bottom:10px;
	margin-top:10px;
}
ul li h3{
	font-size:20px;
}
.login-register{
	position: fixed;
	bottom: 0px;
	right: 0px;
	text-decoration: none;
	z-index: 50;
}
@media screen and (max-width:999px){
	.login-register{
		position: fixed;
		bottom: 0px;
		left: 50%;
		transform:translateX(-50%);
		text-decoration: none;
		z-index: 50;
	}
	.login-register.bttn{
		width: 220px;
	}
}
.login-register:active,
.login-register:checked
{
	text-decoration: none;
}


/* Btn generic */
a.bttn {
  color: var(--main-color-primary);
  text-decoration: none;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s ease all;
}
a.bttn:hover {
  color: #23444f;
	background-color: var(--main-color-primary);
	text-decoration: none;
	border: 3px solid var(--main-color-primary);
}
a.bttn:focus {
  color:var(--main-color-primary);
	text-decoration: none;
}

a.bttn-dark {
  color: #644cad;
  text-decoration: none;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s ease all;
}
a.bttn-dark:hover {
  color: #FFF;
	text-decoration: none;
}
a.bttn-dark:focus {
  color: #FFF;
	text-decoration: none;
}

.bttn {
  font-size: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  width: 20%;
	max-width: 240px;
  font-weight: bold;
  padding: 14px 0px;
  border: 3px solid #23444f;
	background-color:#23444f;
  border-radius: 2px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
}
.bttnspec{
	border: 3px solid var(--main-color-primary)!important;
	background-color:var(--main-color-primary)!important;
	color: #23444f!important;
}
.bttnspec:hover{
	color: var(--main-color-primary)!important;
	background-color: #23444f!important;
	text-decoration: none;
	border: 3px solid #23444f!important;
}
.fg{
	width:100px;
}
.gh{
	width:200px;
}
.bttn:before {
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: '';
  background-color:  var(--main-color-primary);

  z-index: -2;
}
.bttnspec:before{
	background-color: #23444f!important;
}
.bttn:hover:before {
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}
.bttn:focus:before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}

.bttn-dark {
  font-size: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  width: 270px;
  font-weight: bold;
  padding: 14px 0px;
  border: 3px solid #644cad;
  border-radius: 2px;
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
  z-index: 2;
}
.bttn-dark:before {
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: '';
  background-color: #644cad;
  z-index: -1;
}
.bttn-dark:hover:before {
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}
.bttn-dark:focus:before {
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}
.arrow {
  text-align: center;
  z-index:45;
  position:absolute;
  bottom:70px;
  left:50%;
  transform:translateX(-50%);
}
@media (max-width:768px){
	.arrow{
		bottom:120px;
	}
}
.dot{
	height: 2px;
  width: 2px;
  background-color: var(--main-color-primary);
  border-radius: 50%;
  display: inline-block;
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}
#dot1{
	background-color: black;
}
@keyframes bounce {

  0%{height:0px;}
  50%{height: 70px;
  		transform: translateY(70px);	}
  75%{height:0px;
  	transform: translateY(70px);}
  	100%{
  		height:0px;
  	}
}
.highlight-slide__img-inner{
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.26), 0 3px 6px rgba(0, 0, 0, 0.16);
}
.content-2{
	padding: 80px 0px;
}
@media (min-width:768px){
	.content-2{
		padding-top:0px;
	}
}
.el1{
	max-width:350px !important;
	left:50%;
	position:absolute;
	transform:translateX(-30%) translateY(-40%);
	top:50%;
}

@media (max-width:768px)
{
	.content-2{
		padding: 0px;
	}
	.el1{
		transform:translateX(-50%) translateY(-90%);
	}
	.el2{
		display: none;
	}
}
@media (max-width:1000px) and (min-width:769px){
	.el2{
		display: none;
	}
	.el1{
		transform:translateX(-30%) translateY(-30%);
	}
}
.own{
	opacity: 0;
	z-index:45;
	background-color: var(--main-color-primary)!important;
	position:absolute!important;
	right:20px!important;
	bottom:20px!important;
	margin-bottom: 0px!important;
	width:300px!important;
	height:170px!important;
	border-radius: 0px!important;
	transition:all 0.5s ease-in-out!important;
}
.icircle{
	position:absolute;
	right:60px;
	bottom:20px;
	font-size:30px;
	z-index:50;
	color:var(--main-color-primary);
	cursor:pointer;
}
@media (max-width:999px) and (min-width:768px){
	.icircle{
		right:50px;
	}
}
@media (max-width:768px){
	.icircle{
		right:30px;
	}
}
.logbtn{
	margin-right: 30px!important;
	margin-bottom: 30px!important;
	color:var(--main-color-primary)!important;
}
.logbtn:hover{
	color:#20414d!important;
}
@media (max-width: 999px){
	.logbtn{
		position:relative;
		margin-right: 30px!important;
	margin-bottom: 30px!important;
	}
}
