<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />

		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>Rendezvous'19 | A Mystical Odyssey</title>

		<meta name="description" content="A slideshow that shows an animated SVG frame on the transitions between slides" />

		<meta name="keywords" content="slideshow, javascript, frame, animation, svg, shape, path, web design"/>

		<!-- Change below to add icon -->
		<!-- <link rel="shortcut icon" href="favicon.ico"> -->

		<link rel="stylesheet" type="text/css" href="styles/style3.css" />
		<link rel="stylesheet" type="text/css" href="styles/base.css" />
		<link rel="stylesheet" type="text/css" href="styles/style.css" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="styles/pater.css" />
		<% include ./_headerScripts.ejs %>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

		<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css'>
		<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css'>
		<link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Roboto+Condensed:100'>

		<link rel="stylesheet" href="styles/style2.css">
		<script>
            $(function() {

                $( '#mi-slider' ).catslider();

            });
		</script>
		<script>document.documentElement.className="js";var supportsCssVars=function(){var e,t=document.createElement("style");return t.innerHTML="root: { --tmp-var: bold; }",document.head.appendChild(t),e=!!(window.CSS&&window.CSS.supports&&window.CSS.supports("font-weight","var(--tmp-var)")),t.parentNode.removeChild(t),e};supportsCssVars()||alert("Please view this demo in a modern browser that supports CSS Variables.");</script>
		<script src="https://s.codepen.io/assets/libs/modernizr.js" type="text/javascript"></script>


		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
		<link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
		// styles
		<% include ./_headerCSS.ejs %>


		<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	</head>
