<meta charset="UTF-8" />
		<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=no">
<link rel="icon" href="../../assets/images/rdv-bruh.png" type="image/png">
<link rel="shortcut icon" href="../../assets/images/rdv-bro.ico" type="img/x-icon">
<meta name="description" content="A Mystical Odyssey,Rendezvous 2019" />
<meta name="keywords" content="Rendezvous, IIT, Delhi, North, India"/>
<title>Rendezvous'19, A Mystical Odyssey</title>
<script type="text/javascript" src="/scripts/checkAndOut.js"></script>
