<a class="cd-nav-trigger cd-text-replace" href="#primary-nav" id="toggle">
	<span aria-hidden="true" class="cd-icon"></span>
</a>
<div class="arrow-container">
	<h2></h2>
	<div class="arrow"></div>
</div>
<div id="menu" class="menu-container">
	<div id="item-1" class="menu-item red">
		<h1 class="nav1">Pronites</h1>
	</div>
	<div id="item-2" class="menu-item blue">
		<h1 class="nav1">Competitive Events</h1>
	</div>
	<div id="item-3" class="menu-item d-blue">
		<h1 class="nav1">Workshops</h1>
	</div>
	<div id="item-4" class="menu-item green">
		<h1 class="nav1">Accomodation</h1>
	</div>
	<div id="item-5" class="menu-item yellow" style="width:200%">
		<h1 class="nav1">Social</h1>
	</div>
</div>
