<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
		<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=no">

<meta name="description" content="A Symphony Of Nostalgia,Rendezvous 2018" />
<meta name="keywords" content="Rendezvous, fest, North, India, biggest, symphony, nostalgia, fun"/>
<title>Rendezvous'18, A Symphony Of Nostalgia</title>

	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Raleway:300,600" rel="stylesheet">
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'>
<link rel="stylesheet" href="/styles/passbook/login-select.css">
<link rel="stylesheet" href="/styles/passbook/loginStyle.css">
<link rel="stylesheet" href="/styles/passbook/button.css">

</head>
<body>
	<div class="container">
   <section id="formHolder">
      <div class="row">
         <!-- Brand Box -->
         <div class="col-sm-6 brand">
            <a href="/" class="logo"><img src="https://assets.rdviitd.org/images/logo1.png" style="height: 100px;"> <span></span></a>
            <div class="heading">
               <h2>A</h2>
               <h2>Symphony</h2>
				<p>Of Nostalgia</p>
               <p>Rendezvous 2018</p>
            </div>
         </div>
         <!-- Form Box -->
         <div class="col-sm-6 form">
            <!-- Login Form -->
            <div class="login form-peice">
               <form class="login-form" id="loginform" onSubmit="mylogin();return false;" >
                  <div class="form-group">
                     <label for="email">Email Adderss</label>
                     <input type="email" name="login_id" id="loginemail" required>
                  </div>

                  <div class="form-group">
                     <label for="loginPassword">Password</label>
                     <input type="password" name="password" id="loginPassword" required>
                  </div>
                  <% if(captcha == "True") { %>
                  <div class="g-recaptcha" style="margin-top:30px;" data-sitekey="<%=  gCaptcha %>" data-callback="recaptcha_callback"></div>
                  <% } %>
                  <div class="CTA">
					  <button type="submit" class="slide" value="">Log In</button>
                  </div>
               </form>
            </div>
         </div>
      </div>

  <script type="text/javascript">
          // $('.slide').attr('disabled','disabled');
         function recaptcha_callback() {
         $('.slide').removeAttr('disabled');
          };                                 
   </script>

<script type="text/javascript">
   function mylogin(){
      var formdata = {};
      $.each($('#loginform').serializeArray(), function(_, kv) {
        formdata[kv.name] = kv.value;
      });
      $.post("/pronite/login",formdata)
      .done((data,status)=>{
            localStorage.setItem('UserPronite',JSON.stringify(data.user));
            localStorage.setItem('Pronite', data.token);
            console.log(status);
            window.location.href = "/pronite/confirm";
      }).fail((jqXHR, textStatus, errorThrown)=>{
        alert(jqXHR.responseJSON.message);
      })
 }
</script>
<script src="https://www.google.com/recaptcha/api.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script  src="/scripts/login.js"></script>

</body>
</html>
