<!DOCTYPE html>
<html lang="en">
<head>
	<%include partials/headerCss.ejs%>
</head>
<body style="overflow-y: hidden">
	<!-- Hospitality section -->
  <%include partials/mainContent.ejs%>
</body>
</html>