<a href="/">
			<img src="https://assets.rdviitd.org/images/logo.png" alt="" class="img-fluid logo-img">
		</a>
		<svg class="hidden">
			<defs>
				<symbol id="icon-arrow" viewBox="0 0 24 24">
					<title>arrow</title>
					<polygon points="6.3,12.8 20.9,12.8 20.9,11.2 6.3,11.2 10.2,7.2 9,6 3.1,12 9,18 10.2,16.8 "/>
				</symbol>
				<symbol id="icon-drop" viewBox="0 0 24 24">
					<title>drop</title>
					<path d="M12,21c-3.6,0-6.6-3-6.6-6.6C5.4,11,10.8,4,11.4,3.2C11.6,3.1,11.8,3,12,3s0.4,0.1,0.6,0.3c0.6,0.8,6.1,7.8,6.1,11.2C18.6,18.1,15.6,21,12,21zM12,4.8c-1.8,2.4-5.2,7.4-5.2,9.6c0,2.9,2.3,5.2,5.2,5.2s5.2-2.3,5.2-5.2C17.2,12.2,13.8,7.3,12,4.8z"/><path d="M12,18.2c-0.4,0-0.7-0.3-0.7-0.7s0.3-0.7,0.7-0.7c1.3,0,2.4-1.1,2.4-2.4c0-0.4,0.3-0.7,0.7-0.7c0.4,0,0.7,0.3,0.7,0.7C15.8,16.5,14.1,18.2,12,18.2z"/>
				</symbol>
				<symbol id="icon-prev" viewBox="0 0 100 50">
					<title>prev</title>
					<polygon points="5.4,25 18.7,38.2 22.6,34.2 16.2,27.8 94.6,27.8 94.6,22.2 16.2,22.2 22.6,15.8 18.7,11.8"/>
				</symbol>
				<symbol id="icon-next" viewBox="0 0 100 50">
					<title>next</title>
					<polygon points="81.3,11.8 77.4,15.8 83.8,22.2 5.4,22.2 5.4,27.8 83.8,27.8 77.4,34.2 81.3,38.2 94.6,25 "/>
				</symbol>
				<symbol id="icon-octicon" viewBox="0 0 24 24">
					<title>octicon</title>
					<path d="M12,2.2C6.4,2.2,1.9,6.7,1.9,12.2c0,4.4,2.9,8.2,6.9,9.6c0.5,0.1,0.7-0.2,0.7-0.5c0-0.2,0-0.9,0-1.7c-2.8,0.6-3.4-1.4-3.4-1.4C5.6,17.1,5,16.8,5,16.8C4.1,16.2,5,16.2,5,16.2c1,0.1,1.5,1,1.5,1c0.9,1.5,2.4,1.1,2.9,0.8c0.1-0.7,0.4-1.1,0.6-1.3c-2.2-0.3-4.6-1.1-4.6-5c0-1.1,0.4-2,1-2.7C6.5,8.8,6.2,7.7,6.7,6.4c0,0,0.8-0.3,2.8,1C10.3,7.2,11.1,7.1,12,7c0.9,0,1.7,0.1,2.5,0.3c1.9-1.3,2.8-1,2.8-1c0.5,1.4,0.2,2.4,0.1,2.7c0.6,0.7,1,1.6,1,2.7c0,3.9-2.4,4.7-4.6,5c0.4,0.3,0.7,0.9,0.7,1.9c0,1.3,0,2.4,0,2.8c0,0.3,0.2,0.6,0.7,0.5c4-1.3,6.9-5.1,6.9-9.6C22.1,6.7,17.6,2.2,12,2.2z" />
				</symbol>
				<!-- From Karen Menezes: https://www.smashingmagazine.com/2015/05/creating-responsive-shapes-with-clip-path/ -->
				<clipPath id="polygon-clip-rhomboid" clipPathUnits="objectBoundingBox">
					<polygon points="0 1, 0.3 0, 1 0, 0.7 1" />
				</clipPath>
			</defs>
		</svg>
		<main>
			<div class="slideshow" tabindex="0">
				<div class="slide slide--layout-5" data-layout="layout5">
					<div class="slide__title">
						<h3 class="slide__title-main"><b>Marketing</b></h3>
					</div>
					<div class="slide-imgwrap slide-imgwrap-ctm">
						<div class="slide__img">
							<div class="slide__img-inner" style="background-image: url(https://assets.rdviitd.org/images/team/Sidana_.jpg);">
								<div class="slide__img-caption">
                  <h4 class="fig-caption">Smarthveer Sidana<br>Core Team Member</h4>
                  <a href="tel:8178043551" data-toggle="tooltip" data-placement="bottom" data-html="true" title="<div class='specmodal'>8178043551</div>" class="caption-icon"><i class="fa fa-phone faa-bounce animated-hover "></i></a>
                  <a href="mailto:smarthveer@gmail.com" class="caption-icon"><i class="fa fa-envelope faa-bounce animated-hover "></i></a>
                  <a href="https://www.facebook.com/profile.php?id=100009611507482" target="_blank" class="caption-icon"><i class="fa fa-facebook faa-bounce animated-hover "></i></a>
                </div>
							</div>
						</div>
					</div>
					<div class="row">
					<div class="slide-imgwrap">
						<div class="slide__img">
							<div class="slide__img-inner" style="background-image: url(https://assets.rdviitd.org/images/team/DhruvGupta_-2.jpg);">
								<div class="slide__img-caption">
                  <h4 class="fig-caption">Dhruv Gupta <br>Coordinator</h4>
                  <a href="tel:9560178364" class="caption-icon"><i class="fa fa-phone faa-bounce animated-hover "></i></a>
                  <a href="mailto:dhruvgupta.896@gmail.com" class="caption-icon"><i class="fa fa-envelope faa-bounce animated-hover "></i></a>
                  <a href="https://www.facebook.com/dgdhruvgupta" target="_blank" class="caption-icon"><i class="fa fa-facebook faa-bounce animated-hover "></i></a>
                </div>
							</div>
						</div>
            <div class="slide__img">
							<div class="slide__img-inner" style="background-image: url(https://assets.rdviitd.org/images/team/NikhilGarg_-4.jpg);">
								<div class="slide__img-caption">
                  <h4 class="fig-caption">Nikhil Garg<br>Coordinator</h4>
                  <a href="tel:8826105789" class="caption-icon"><i class="fa fa-phone faa-bounce animated-hover "></i></a>
                  <a href="mailto:nikhilgarg97@gmail.com" class="caption-icon"><i class="fa fa-envelope faa-bounce animated-hover "></i></a>
                  <a href="" class="caption-icon"><i class="fa fa-facebook faa-bounce animated-hover "></i></a>
                </div>
							</div>
						</div>
						<div class="slide__img">
							<div class="slide__img-inner" style="background-image: url(https://assets.rdviitd.org/images/team/Ata_-2.jpg);">
								<div class="slide__img-caption">
                  <h4 class="fig-caption">Ata Ul Haque <br>Coordinator</h4>
                  <a href="tel:9911060879" class="caption-icon"><i class="fa fa-phone faa-bounce animated-hover "></i></a>
                  <a href="mailto:ataulhaque1496@gmail.com" class="caption-icon"><i class="fa fa-envelope faa-bounce animated-hover "></i></a>
                  <a href="" class="caption-icon"><i class="fa fa-facebook faa-bounce animated-hover "></i></a>
                </div>
							</div>
						</div>
            <div class="slide__img">
							<div class="slide__img-inner" style="background-image: url(https://assets.rdviitd.org/images/team/PrachiGupta_.jpg);">
								<div class="slide__img-caption">
                  <h4 class="fig-caption">Prachi Gupta<br>Coordinator</h4>
                  <a href="tel:9999965039" class="caption-icon"><i class="fa fa-phone faa-bounce animated-hover "></i></a>
                  <a href="mailto:prachigupta.iitd@gmail.com" class="caption-icon"><i class="fa fa-envelope faa-bounce animated-hover "></i></a>
                  <a href="https://www.facebook.com/prachi.gupta.58" target="_blank" class="caption-icon"><i class="fa fa-facebook faa-bounce animated-hover "></i></a>
                </div>
							</div>
						</div>

					</div>
				</div>
				</div>




<div class="slide slide--layout-5" data-layout="layout5">
					<div class="slide__title">
						<h3 class="slide__title-main">Publicity</h3>
					</div>
					<div class="slide-imgwrap slide-imgwrap-ctm">
						<div class="slide__img">
							<div class="slide__img-inner" style="background-image: url(https://assets.rdviitd.org/images/team/ruddu.jpg);">
								<div class="slide__img-caption">
                  <h4 class="fig-caption">Rudraksh Gupta<br>Core Team Member</h4>
                  <a href="tel:9893029651" data-toggle="tooltip" data-placement="bottom" data-html="true" title="<div class='specmodal'>9893029651</div>" class="caption-icon"><i class="fa fa-phone faa-bounce animated-hover "></i></a>
                  <a href="mailto:rudrakshgupta.1998@gmail.com" class="caption-icon"><i class="fa fa-envelope faa-bounce animated-hover "></i></a>
                  <a href="https://www.facebook.com/ruddubuddu" target="_blank" class="caption-icon"><i class="fa fa-facebook faa-bounce animated-hover "></i></a>
                </div>
							</div>
						</div>
					</div>
					<div class="row">
					<div class="slide-imgwrap">
						<div class="slide__img">
							<div class="slide__img-inner" style="background-image: url(https://assets.rdviitd.org/images/team/TusharMaurya_.jpg);">
								<div class="slide__img-caption">
                  <h4 class="fig-caption">Tushar Maurya<br>Coordinator</h4>
                  <a href="tel:9717114376" class="caption-icon"><i class="fa fa-phone faa-bounce animated-hover "></i></a>
                  <a href="mailto:mmauryatushar@gmail.com" class="caption-icon"><i class="fa fa-envelope faa-bounce animated-hover "></i></a>
                  <a href="https://www.facebook.com/mauryatushar" target="_blank" class="caption-icon"><i class="fa fa-facebook faa-bounce animated-hover "></i></a>
                </div>
							</div>
						</div>
            <div class="slide__img">
							<div class="slide__img-inner" style="background-image: url(https://assets.rdviitd.org/images/team/DeepanshuRathi_.jpg);">
								<div class="slide__img-caption">
                  <h4 class="fig-caption">Deepanshu Rathi <br>Coordinator</h4>
                  <a href="tel:9911053665" class="caption-icon"><i class="fa fa-phone faa-bounce animated-hover "></i></a>
                  <a href="mailto:deepanshurathi553@gmail.com" class="caption-icon"><i class="fa fa-envelope faa-bounce animated-hover "></i></a>
                  <a href="https://www.facebook.com/deepanshurathi553" target="_blank" class="caption-icon"><i class="fa fa-facebook faa-bounce animated-hover "></i></a>
                </div>
							</div>
						</div>
            <div class="slide__img">
							<div class="slide__img-inner" style="background-image: url(https://assets.rdviitd.org/images/team/SimranMalik_.jpg);">
								<div class="slide__img-caption">
                  <h4 class="fig-caption">Simran Malik <br>Coordinator</h4>
                  <a href="tel:7838465767" class="caption-icon"><i class="fa fa-phone faa-bounce animated-hover "></i></a>
                  <a href="mailto:simranmlk29@gmail.com" class="caption-icon"><i class="fa fa-envelope faa-bounce animated-hover "></i></a>
                  <a href="https://www.facebook.com/simran29" class="caption-icon"><i class="fa fa-facebook faa-bounce animated-hover "></i></a>
                </div>
							</div>
						</div>
						<div class="slide__img">
							<div class="slide__img-inner" style="background-image: url(https://assets.rdviitd.org/images/team/RajatYadav_.jpg);">
								<div class="slide__img-caption">
                  <h4 class="fig-caption">Rajat Yadav <br>Coordinator</h4>
                  <a href="tel:9958428270" class="caption-icon"><i class="fa fa-phone faa-bounce animated-hover "></i></a>
                  <a href="mailto:rajatyadav5897@gmail.com" class="caption-icon"><i class="fa fa-envelope faa-bounce animated-hover "></i></a>
                  <a href="https://www.facebook.com/profile.php?id=100009713917882" target="_blank" class="caption-icon"><i class="fa fa-facebook faa-bounce animated-hover "></i></a>
                </div>
							</div>
						</div>
            <div class="slide__img">
							<div class="slide__img-inner" style="background-image: url(https://assets.rdviitd.org/images/team/DivyaSingh_.jpg);">
								<div class="slide__img-caption">
                  <h4 class="fig-caption">Divya Singh <br>Coordinator</h4>
                  <a href="tel:8800162658" class="caption-icon"><i class="fa fa-phone faa-bounce animated-hover "></i></a>
                  <a href="mailto:divyasiit@gmail.com" class="caption-icon"><i class="fa fa-envelope faa-bounce animated-hover "></i></a>
                  <a href="https://www.facebook.com/profile.php?id=100002503565123" target="_blank" class="caption-icon"><i class="fa fa-facebook faa-bounce animated-hover "></i></a>
                </div>
							</div>
						</div>

					</div>
					</div>
				</div><!-- /slide -->




<div class="slide slide--layout-5" data-layout="layout5">
					<div class="slide__title">
						<h3 class="slide__title-main">Events</h3>
					</div>
					<div class="slide-imgwrap slide-imgwrap-ctm">
						<div class="slide__img">
							<div class="slide__img-inner" style="background-image: url(https://assets.rdviitd.org/images/team/KaustubhSaxena_.jpg);">
								<div class="slide__img-caption">
                  <h4 class="fig-caption">Kaustubh Saxena<br>Core Team Member</h4>
                  <a href="tel:9810215771" data-toggle="tooltip" data-placement="bottom" data-html="true" title="<div class='specmodal'>9810215771</div>" class="caption-icon"><i class="fa fa-phone faa-bounce animated-hover "></i></a>
                  <a href="mailto:kaustubhsaxena21@gmail.com" target="_blank" class="caption-icon"><i class="fa fa-envelope faa-bounce animated-hover "></i></a>
                  <a href="https://www.facebook.com/kaustubh.saxena.5" target="_blank" class="caption-icon"><i class="fa fa-facebook faa-bounce animated-hover "></i></a>
                </div>
							</div>
						</div>
						</div>
					<div class="row">
					<div class="slide-imgwrap">
						<div class="slide__img">
							<div class="slide__img-inner" style="background-image: url(https://assets.rdviitd.org/images/team/AsmitaPahade_-3.jpg);">
								<div class="slide__img-caption">
                  <h4 class="fig-caption">Asmita Pahade <br>Coordinator</h4>
                  <a href="tel:8793047217" class="caption-icon"><i class="fa fa-phone faa-bounce animated-hover "></i></a>
                  <a href="mailto:asmitapahade6@gmail.com" class="caption-icon"><i class="fa fa-envelope faa-bounce animated-hover "></i></a>
                  <a href="" target="_blank" class="caption-icon"><i class="fa fa-facebook faa-bounce animated-hover "></i></a>
                </div>
							</div>
						</div>
            <div class="slide__img">
							<div class="slide__img-inner" style="background-image: url(https://assets.rdviitd.org/images/team/Harsh_-3.jpg);">
								<div class="slide__img-caption">
                  <h4 class="fig-caption">Harsh Pitaliya <br>Coordinator</h4>
                  <a href="tel:9166999462" class="caption-icon"><i class="fa fa-phone faa-bounce animated-hover "></i></a>
                  <a href="mailto:harshpitaliya@gmail.com" class="caption-icon"><i class="fa fa-envelope faa-bounce animated-hover "></i></a>
                  <a href="" target="_blank" class="caption-icon"><i class="fa fa-facebook faa-bounce animated-hover "></i></a>
                </div>
							</div>
						</div>
            <div class="slide__img">
							<div class="slide__img-inner" style="background-image: url(https://assets.rdviitd.org/images/team/Aryaman_.jpg);">
								<div class="slide__img-caption">
                  <h4 class="fig-caption">Aryaman Bansal <br>Coordinator</h4>
                  <a href="tel:8130954855" class="caption-icon"><i class="fa fa-phone faa-bounce animated-hover "></i></a>
                  <a href="mailto:aryamanx@gmail.com" class="caption-icon"><i class="fa fa-envelope faa-bounce animated-hover "></i></a>
                  <a href="https://www.facebook.com/aryamanx" target="_blank" class="caption-icon"><i class="fa fa-facebook faa-bounce animated-hover "></i></a>
                </div>
							</div>
						</div>
						<div class="slide__img">
							<div class="slide__img-inner" style="background-image: url(https://assets.rdviitd.org/images/team/MadhavRanka_.jpg);">
								<div class="slide__img-caption">
                  <h4 class="fig-caption">Madhav Ranka <br>Coordinator</h4>
                  <a href="tel:7737697242" class="caption-icon"><i class="fa fa-phone faa-bounce animated-hover "></i></a>
                  <a href="mailto:madhav.ranka@gmail.com" class="caption-icon"><i class="fa fa-envelope faa-bounce animated-hover "></i></a>
                  <a href="https://www.facebook.com/madhav.ranka" target="_blank" class="caption-icon"><i class="fa fa-facebook faa-bounce animated-hover "></i></a>
                </div>
							</div>
						</div>
						<div class="slide__img">
							<div class="slide__img-inner" style="background-image: url(https://assets.rdviitd.org/images/team/Swapnil_.jpg);">
								<div class="slide__img-caption">
                  <h4 class="fig-caption">Swapnil Sinha <br>Coordinator</h4>
                  <a href="" class="caption-icon"><i class="fa fa-phone faa-bounce animated-hover "></i></a>
                  <a href="" class="caption-icon"><i class="fa fa-envelope faa-bounce animated-hover "></i></a>
                  <a href="" class="caption-icon"><i class="fa fa-facebook faa-bounce animated-hover "></i></a>
                </div>
							</div>
						</div>
						<div class="slide__img">
							<div class="slide__img-inner" style="background-image: url(https://assets.rdviitd.org/images/team/Atharva_-3.jpg);">
								<div class="slide__img-caption">
                  <h4 class="fig-caption">Atharva C. Singh <br>Coordinator</h4>
                  <a href="tel:9757363647" class="caption-icon"><i class="fa fa-phone faa-bounce animated-hover "></i></a>
                  <a href="mailto:swapnilsinha98@gmail.com" class="caption-icon"><i class="fa fa-envelope faa-bounce animated-hover "></i></a>
                  <a href="https://www.facebook.com/swapnil.sinha.7298" target="_blank" class="caption-icon"><i class="fa fa-facebook faa-bounce animated-hover "></i></a>
                </div>
							</div>
						</div>
            <div class="slide__img">
							<div class="slide__img-inner" style="background-image: url(https://assets.rdviitd.org/images/team/Akshat_.jpg);">
								<div class="slide__img-caption">
                  <h4 class="fig-caption">Akshat Sharma <br>Coordinator</h4>
                  <a href="tel:9810150935" class="caption-icon"><i class="fa fa-phone faa-bounce animated-hover "></i></a>
                  <a href="mailto:akshatsharma141@gmail.com" class="caption-icon"><i class="fa fa-envelope faa-bounce animated-hover "></i></a>
                  <a href="https://www.facebook.com/akshat.sharma.37" target="_blank" class="caption-icon"><i class="fa fa-facebook faa-bounce animated-hover "></i></a>
                </div>
							</div>
						</div>

					</div>
				</div>
				</div>




					<div class="slide slide--layout-5" data-layout="layout5">
					<div class="slide__title">
						<h3 class="slide__title-main">BRCA Events Team</h3>
					</div>
					<div class="row">
					<div class="slide-imgwrap">
						<div class="slide__img">
							<div class="slide__img-inner" style="background-image: url(https://assets.rdviitd.org/images/team/AyushiNarula_.jpg);">
								<div class="slide__img-caption">
                  <h4 class="fig-caption">Ayushi Narula <br>BRCA Events Overall<br>Coordinator</h4>
                  <a href="tel:8527516270" class="caption-icon"><i class="fa fa-phone faa-bounce animated-hover "></i></a>
                  <a href="mailto:ayushinarula.iitd@gmail.com" class="caption-icon"><i class="fa fa-envelope faa-bounce animated-hover "></i></a>
                  <a href="https://www.facebook.com/ayushi2narula" target="_blank" class="caption-icon"><i class="fa fa-facebook faa-bounce animated-hover "></i></a>
                </div>
							</div>
						</div>
						</div>
						</div>
					<div class="row">
					<div class="slide__title" style="position:relative;padding-bottom:10px;padding-top:30px;">
						<h3 class="slide__title-main">Secretaries</h3>
					</div>
					<div class="slide-imgwrap">
						<div class="slide__img">
							<div class="slide__img-inner" style="background-image: url(https://assets.rdviitd.org/images/team/Swapnesh_-4.jpg);">
								<div class="slide__img-caption">
                  <h4 class="fig-caption">Swapnesh Agarwal <br>Literary Secretary</h4>
                  <a href="tel:9425955627" class="caption-icon"><i class="fa fa-phone faa-bounce animated-hover "></i></a>
                  <a href="mailto:swapneshsagrawal@gmail.com" class="caption-icon"><i class="fa fa-envelope faa-bounce animated-hover "></i></a>
                  <a href="https://www.facebook.com/swapnesh.854" target="_blank" class="caption-icon"><i class="fa fa-facebook faa-bounce animated-hover "></i></a>
                </div>
							</div>
						</div>
						<div class="slide__img">
							<div class="slide__img-inner" style="background-image: url(https://assets.rdviitd.org/images/team/Naman_.jpg);">
								<div class="slide__img-caption">
                  <h4 class="fig-caption">Naman Upadhyaya <br>Music Secretary</h4>
                  <a href="tel:8377021992" class="caption-icon"><i class="fa fa-phone faa-bounce animated-hover "></i></a>
                  <a href="mailto:namanupadhyaya98@gmail.com" class="caption-icon"><i class="fa fa-envelope faa-bounce animated-hover "></i></a>
                  <a href="https://www.facebook.com/naman.upadhyaya.5" target="_blank" class="caption-icon"><i class="fa fa-facebook faa-bounce animated-hover "></i></a>
                </div>
							</div>
						</div>
						<div class="slide__img">
							<div class="slide__img-inner" style="background-image: url(https://assets.rdviitd.org/images/team/Nalin.jpg);">
								<div class="slide__img-caption">
                  <h4 class="fig-caption">Nalin Gupta <br>Drama Secretary</h4>
                  <a href="tel:8989284496" class="caption-icon"><i class="fa fa-phone faa-bounce animated-hover "></i></a>
                  <a href="mailto:nalingupta98@gmail.com" class="caption-icon"><i class="fa fa-envelope faa-bounce animated-hover "></i></a>
                  <a href="https://www.facebook.com/profile.php?id=100004156155334" target="_blank" class="caption-icon"><i class="fa fa-facebook faa-bounce animated-hover "></i></a>
                </div>
							</div>
						</div>
						<div class="slide__img">
							<div class="slide__img-inner" style="background-image: url(https://assets.rdviitd.org/images/team/Maitreyawagh_.jpg);">
								<div class="slide__img-caption">
                  <h4 class="fig-caption">Maitreya Wagh <br>Debating Secretary</h4>
                  <a href="tel:9654448997" class="caption-icon"><i class="fa fa-phone faa-bounce animated-hover "></i></a>
                  <a href="mailto:maitreyawagh97@gmail.com" class="caption-icon"><i class="fa fa-envelope faa-bounce animated-hover "></i></a>
                  <a href="https://www.facebook.com/maitreya.wagh" target="_blank" class="caption-icon"><i class="fa fa-facebook faa-bounce animated-hover "></i></a>
                </div>
							</div>
						</div>
						<div class="slide__img">
							<div class="slide__img-inner" style="background-image: url(https://assets.rdviitd.org/images/team/PranavChawla_.jpg);">
								<div class="slide__img-caption">
                  <h4 class="fig-caption">Pranav Chawla <br>SPIC MACAY Secretary</h4>
                  <a href="tel:8146752200" class="caption-icon"><i class="fa fa-phone faa-bounce animated-hover "></i></a>
                  <a href="mailto:pranavchawlaiitd@gmail.com" class="caption-icon"><i class="fa fa-envelope faa-bounce animated-hover "></i></a>
                  <a href="https://www.facebook.com/The.Rising.New.Hope" target="_blank" class="caption-icon"><i class="fa fa-facebook faa-bounce animated-hover "></i></a>
                </div>
							</div>
						</div>
						<div class="slide__img">
							<div class="slide__img-inner" style="background-image: url(https://assets.rdviitd.org/images/team/SarthakVishnoi_.jpg);">
								<div class="slide__img-caption">
                  <h4 class="fig-caption">Sarthak Vishnoi <br>Quizzing Secretary</h4>
                  <a href="tel:7016547236" class="caption-icon"><i class="fa fa-phone faa-bounce animated-hover "></i></a>
                  <a href="mailto:sarthakvishnoi.01@gmail.com " class="caption-icon"><i class="fa fa-envelope faa-bounce animated-hover "></i></a>
                  <a href="https://www.facebook.com/sarthak.vishnoi.9" target="_blank" class="caption-icon"><i class="fa fa-facebook faa-bounce animated-hover "></i></a>
                </div>
							</div>
						</div>
						<div class="slide__img">
							<div class="slide__img-inner" style="background-image: url(https://assets.rdviitd.org/images/team/Sudhanshu_.jpg);">
								<div class="slide__img-caption">
                  <h4 class="fig-caption">Sudhanshu Yadav <br>Hindi Samiti Secretary</h4>
                  <a href="tel:8171725748" class="caption-icon"><i class="fa fa-phone faa-bounce animated-hover "></i></a>
                  <a href="mailto:skkyaduvanshi10@gmail.com" class="caption-icon"><i class="fa fa-envelope faa-bounce animated-hover "></i></a>
                  <a href="https://www.facebook.com/sudhanshu.yaduvanshi" target="_blank" class="caption-icon"><i class="fa fa-facebook faa-bounce animated-hover "></i></a>
                </div>
							</div>
						</div>
						<div class="slide__img">
							<div class="slide__img-inner" style="background-image: url(https://assets.rdviitd.org/images/team/SonalJangir_.jpg);">
								<div class="slide__img-caption">
                  <h4 class="fig-caption">Sonal Jangir <br>FACC Secretary</h4>
                  <a href="tel:9717683362" class="caption-icon"><i class="fa fa-phone faa-bounce animated-hover "></i></a>
                  <a href="mailto:sonal16j@gmail.com" class="caption-icon"><i class="fa fa-envelope faa-bounce animated-hover "></i></a>
                  <a href="https://www.facebook.com/sonal.jangir.3139" target="_blank" class="caption-icon"><i class="fa fa-facebook faa-bounce animated-hover "></i></a>
                </div>
							</div>
						</div>
						<div class="slide__img">
							<div class="slide__img-inner" style="background-image: url(https://assets.rdviitd.org/images/team/HarshitAbrol_.jpg);">
								<div class="slide__img-caption">
                  <h4 class="fig-caption">Harshit Abrol <br>PFC Secretary</h4>
                  <a href="tel:9782473744" class="caption-icon"><i class="fa fa-phone faa-bounce animated-hover "></i></a>
                  <a href="mailto:harshitabrol.iitd@gmail.com" class="caption-icon"><i class="fa fa-envelope faa-bounce animated-hover "></i></a>
                  <a href="https://www.facebook.com/harshitabrol16" target="_blank" class="caption-icon"><i class="fa fa-facebook faa-bounce animated-hover "></i></a>
                </div>
							</div>
						</div>
						<div class="slide__img">
							<div class="slide__img-inner" style="background-image: url(https://assets.rdviitd.org/images/team/Shantam_.jpg);">
								<div class="slide__img-caption">
                  <h4 class="fig-caption">Shantam Sharma <br>Dance Secretary</h4>
                  <a href="tel:8826005438" class="caption-icon"><i class="fa fa-phone faa-bounce animated-hover "></i></a>
                  <a href="mailto:shantam.sharma98@gmail.com" class="caption-icon"><i class="fa fa-envelope faa-bounce animated-hover "></i></a>
                  <a href="https://www.facebook.com/shantam.sharma2" target="_blank" class="caption-icon"><i class="fa fa-facebook faa-bounce animated-hover "></i></a>
                </div>
							</div>
						</div>
						</div>
						</div>


						<div class="row">
						<div class="slide__title" style="position:relative;padding-bottom:10px;">
						<h3 class="slide__title-main">Cultural Secretaries</h3>
					</div>
					<div class="slide-imgwrap">
						<div class="slide__img">
							<div class="slide__img-inner" style="background-image: url(https://assets.rdviitd.org/images/team/UtkarshGupta_.jpg);">
								<div class="slide__img-caption">
                  <h4 class="fig-caption">Utkarsh Gupta<br>Cultural Secretary</h4>
                  <a href="tel:9650011671" class="caption-icon"><i class="fa fa-phone faa-bounce animated-hover "></i></a>
                  <a href="mailto:utkarshgupta137@gmail.com" class="caption-icon"><i class="fa fa-envelope faa-bounce animated-hover "></i></a>
                  <a href="https://www.facebook.com/utkarshgupta137" target="_blank" class="caption-icon"><i class="fa fa-facebook faa-bounce animated-hover "></i></a>
                </div>
							</div>
						</div>
						<div class="slide__img">
							<div class="slide__img-inner" style="background-image: url(https://assets.rdviitd.org/images/team/AdityaJetha_-3.jpg);">
								<div class="slide__img-caption">
                  <h4 class="fig-caption">Aditya Jetha<br>Cultural Secretary</h4>
                  <a href="tel:" class="caption-icon"><i class="fa fa-phone faa-bounce animated-hover "></i></a>
                  <a href="mailto:aditya.jetha@gmail.com" class="caption-icon"><i class="fa fa-envelope faa-bounce animated-hover "></i></a>
                  <a href="https://www.facebook.com/aditya.jetha" target="_blank" class="caption-icon"><i class="fa fa-facebook faa-bounce animated-hover "></i></a>
                </div>
							</div>
						</div>
						<div class="slide__img">
							<div class="slide__img-inner" style="background-image: url(https://assets.rdviitd.org/images/team/Vaibhaw_.jpg);">
								<div class="slide__img-caption">
                  <h4 class="fig-caption">Vaibhaw<br>Cultural Secretary</h4>
                  <a href="tel:8789669123" class="caption-icon"><i class="fa fa-phone faa-bounce animated-hover "></i></a>
                  <a href="mailto:vermavaibhaw@gmail.com" class="caption-icon"><i class="fa fa-envelope faa-bounce animated-hover "></i></a>
                  <a href="https://www.facebook.com/vaibhaw.verma.359" target="_blank" class="caption-icon"><i class="fa fa-facebook faa-bounce animated-hover "></i></a>
                </div>
							</div>
						</div>
						<div class="slide__img">
							<div class="slide__img-inner" style="background-image: url(https://assets.rdviitd.org/images/team/HaneeshAgarwal_.jpg);">
								<div class="slide__img-caption">
                  <h4 class="fig-caption">Haneesh Aggarwal<br>Cultural Secretary</h4>
                  <a href="tel:9999191359" class="caption-icon"><i class="fa fa-phone faa-bounce animated-hover "></i></a>
                  <a href="mailto:haneesh123aggarwal@gmail.com" class="caption-icon"><i class="fa fa-envelope faa-bounce animated-hover "></i></a>
                  <a href="https://www.facebook.com/haneesh.aggarwal" target="_blank" class="caption-icon"><i class="fa fa-facebook faa-bounce animated-hover "></i></a>
                </div>
							</div>
						</div>
						<div class="slide__img">
							<div class="slide__img-inner" style="background-image: url(https://assets.rdviitd.org/images/team/Aman_-3.jpg);">
								<div class="slide__img-caption">
                  <h4 class="fig-caption">Aman Singhal<br>Cultural Secretary</h4>
                  <a href="tel:9839202050" class="caption-icon"><i class="fa fa-phone faa-bounce animated-hover "></i></a>
                  <a href="mailto:amansinghal722@gmail.com" class="caption-icon"><i class="fa fa-envelope faa-bounce animated-hover "></i></a>
                  <a href="https://www.facebook.com/aman.singhal.5437" target="_blank" class="caption-icon"><i class="fa fa-facebook faa-bounce animated-hover "></i></a>
                </div>
							</div>
						</div>
						<div class="slide__img">
							<div class="slide__img-inner" style="background-image: url(https://assets.rdviitd.org/images/team/ShubhamVerma_.jpg);">
								<div class="slide__img-caption">
                  <h4 class="fig-caption">Shubham Verma<br>Cultural Secretary</h4>
                  <a href="tel:9582769186" class="caption-icon"><i class="fa fa-phone faa-bounce animated-hover "></i></a>
                  <a href="mailto:vermashubham28896@gmail.com" class="caption-icon"><i class="fa fa-envelope faa-bounce animated-hover "></i></a>
                  <a href="https://www.facebook.com/shubham.verma.1654700" target="_blank" class="caption-icon"><i class="fa fa-facebook faa-bounce animated-hover "></i></a>
                </div>
							</div>
						</div>
						<div class="slide__img">
							<div class="slide__img-inner" style="background-image: url(https://assets.rdviitd.org/images/team/SambhavKhurana_.jpg);">
								<div class="slide__img-caption">
                  <h4 class="fig-caption">Sambhav Khurana<br>Cultural Secretary</h4>
                  <a href="tel:8826976466" class="caption-icon"><i class="fa fa-phone faa-bounce animated-hover "></i></a>
                  <a href="mailto:sambhav.khurana006@gmail.com" class="caption-icon"><i class="fa fa-envelope faa-bounce animated-hover "></i></a>
                  <a href="https://www.facebook.com/sambhavkhurana006" target="_blank" class="caption-icon"><i class="fa fa-facebook faa-bounce animated-hover "></i></a>
                </div>
							</div>
						</div>
						<div class="slide__img">
							<div class="slide__img-inner" style="background-image: url(https://assets.rdviitd.org/images/team/KritikaGrover_.jpg);">
								<div class="slide__img-caption">
                  <h4 class="fig-caption">Kritika Grover<br>Cultural Secretary</h4>
                  <a href="tel:8826088569" class="caption-icon"><i class="fa fa-phone faa-bounce animated-hover "></i></a>
                  <a href="mailto:kritig98@gmail.com" class="caption-icon"><i class="fa fa-envelope faa-bounce animated-hover "></i></a>
                  <a href="https://www.facebook.com/kritika.grover2" target="_blank" class="caption-icon"><i class="fa fa-facebook faa-bounce animated-hover "></i></a>
                </div>
							</div>
						</div>
						<div class="slide__img">
							<div class="slide__img-inner" style="background-image: url(https://assets.rdviitd.org/images/team/JiveshMadan_-2.jpg);">
								<div class="slide__img-caption">
                  <h4 class="fig-caption">Jivesh Madan<br>Cultural Secretary</h4>
                  <a href="tel:9911047030" class="caption-icon"><i class="fa fa-phone faa-bounce animated-hover "></i></a>
                  <a href="mailto:jivesh.madan8@gmail.com" class="caption-icon"><i class="fa fa-envelope faa-bounce animated-hover "></i></a>
                  <a href="https://www.facebook.com/jivesh.madan.1" target="_blank" class="caption-icon"><i class="fa fa-facebook faa-bounce animated-hover "></i></a>
                </div>
							</div>
						</div>
						<div class="slide__img">
							<div class="slide__img-inner" style="background-image: url(https://assets.rdviitd.org/images/team/MehakAgarwal_.jpg);">
								<div class="slide__img-caption">
                  <h4 class="fig-caption">Mehak Aggarwal<br>Cultural Secretary</h4>
                  <a href="tel:8130965088" class="caption-icon"><i class="fa fa-phone faa-bounce animated-hover "></i></a>
                  <a href="mailto:ma03091999@gmail.com" class="caption-icon"><i class="fa fa-envelope faa-bounce animated-hover "></i></a>
                  <a href="https://www.facebook.com/mehak.aggarwal.9822" target="_blank" class="caption-icon"><i class="fa fa-facebook faa-bounce animated-hover "></i></a>
                </div>
							</div>
						</div>
						<div class="slide__img">
							<div class="slide__img-inner" style="background-image: url(https://assets.rdviitd.org/images/team/AdityaRathi_.jpg);">
								<div class="slide__img-caption">
                  <h4 class="fig-caption">Aditya Rathi<br>Cultural Secretary</h4>
                  <a href="tel:7030294210" class="caption-icon"><i class="fa fa-phone faa-bounce animated-hover "></i></a>
                  <a href="mailto:adityaprashantrathi@gmail.com" class="caption-icon"><i class="fa fa-envelope faa-bounce animated-hover "></i></a>
                  <a href="https://www.facebook.com/adirathi123" target="_blank" class="caption-icon"><i class="fa fa-facebook faa-bounce animated-hover "></i></a>
                </div>
							</div>
						</div>

						</div>
						</div>


					</div><!-- /slide -->










<div class="slide slide--layout-5" data-layout="layout5">
					<div class="slide__title">
						<h3 class="slide__title-main">International Events</h3>
					</div>
					<div class="slide-imgwrap slide-imgwrap-ctm">
						<div class="slide__img">
							<div class="slide__img-inner" style="background-image: url(https://assets.rdviitd.org/images/team/KaustubhSaxena_.jpg);">
								<div class="slide__img-caption">
                  <h4 class="fig-caption">Kaustubh Saxena<br>Core Team Member</h4>
                  <a href="tel:9810215771" data-toggle="tooltip" data-placement="bottom" data-html="true" title="<div class='specmodal'>9810215771</div>" class="caption-icon"><i class="fa fa-phone faa-bounce animated-hover "></i></a>
                  <a href="mailto:kaustubhsaxena21@gmail.com" target="_blank" class="caption-icon"><i class="fa fa-envelope faa-bounce animated-hover "></i></a>
                  <a href="https://www.facebook.com/kaustubh.saxena.5" target="_blank" class="caption-icon"><i class="fa fa-facebook faa-bounce animated-hover "></i></a>
                </div>
							</div>
						</div>
					</div>
					<div class="row">
					<div class="slide-imgwrap">
						<div class="slide__img">
							<div class="slide__img-inner" style="background-image: url(https://assets.rdviitd.org/images/team/Hullas_.jpg);">
								<div class="slide__img-caption">
                  <h4 class="fig-caption">Hullas Jindal <br>Coordinator</h4>
                  <a href="tel:8285176588" class="caption-icon"><i class="fa fa-phone faa-bounce animated-hover "></i></a>
                  <a href="mailto:8285176588" class="caption-icon"><i class="fa fa-envelope faa-bounce animated-hover "></i></a>
                  <a href="https://m.facebook.com/hullas1502" target="_blank" class="caption-icon"><i class="fa fa-facebook faa-bounce animated-hover "></i></a>
                </div>
							</div>
						</div>
            <div class="slide__img">
							<div class="slide__img-inner" style="background-image: url(https://assets.rdviitd.org/images/team/SakshamSoni_.jpg);">
								<div class="slide__img-caption">
                  <h4 class="fig-caption">Saksham Soni <br>Coordinator</h4>
                  <a href="tel:9871610086" class="caption-icon"><i class="fa fa-phone faa-bounce animated-hover "></i></a>
                  <a href="mailto:saksham9315soni@gmail.com" class="caption-icon"><i class="fa fa-envelope faa-bounce animated-hover "></i></a>
                  <a href="https://www.facebook.com/saksham.soni.357" target="_blank" class="caption-icon"><i class="fa fa-facebook faa-bounce animated-hover "></i></a>
                </div>
							</div>
						</div>

					</div>
				</div>
				</div>
				<div class="slide slide--layout-5" data-layout="layout5">
					<div class="slide__title">
						<h3 class="slide__title-main">Technical</h3>
					</div>

					<div class="slide-imgwrap">
						<div class="slide__img">
							<div class="slide__img-inner" style="background-image: url('https://assets.rdviitd.org/event_images/SunilKumar.jpg');">
								<div class="slide__img-caption">
                  <h4 class="fig-caption">Sunil Kumar <br>Coordinator</h4>
                  <a href="tel:8130200210" data-toggle="tooltip" data-placement="bottom" data-html="true" title="<div class='specmodal'>813020010</div>" class="caption-icon"><i class="fa fa-phone faa-bounce animated-hover "></i></a>
                  <a href="mailto:sunilssaharan@gmail.com" class="caption-icon"><i class="fa fa-envelope faa-bounce animated-hover "></i></a>
                  <a href="https://www.facebook.com/SUNILSAHARAN23" target="_blank" class="caption-icon"><i class="fa fa-facebook faa-bounce animated-hover "></i></a>
                </div>
							</div>
						</div>
            	<div class="slide__img">
							<div class="slide__img-inner" style="background-image: url(https://assets.rdviitd.org/images/team/manish.jpg);">
								<div class="slide__img-caption">
                  <h4 class="fig-caption">Manish Baghel <br>Coordinator</h4>
                  <a href="tel:9711001552" data-toggle="tooltip" data-placement="bottom" data-html="true" title="<div class='specmodal'>9711001552</div>" class="caption-icon"><i class="fa fa-phone"></i></a>
                  <a href="mailto:baghelmanish660@gmail.com" class="caption-icon"><i class="fa fa-envelope faa-bounce animated-hover "></i></a>
                  <a href="https://www.facebook.com/manishbaghelz" target="_blank" class="caption-icon"><i class="fa fa-facebook faa-bounce animated-hover "></i></a>
                </div>
							</div>
						</div>
                <div class="slide__img">
							<div class="slide__img-inner" style="background-image: url(https://assets.rdviitd.org/images/team/AmanTiwari.jpeg);">
								<div class="slide__img-caption">
                  <h4 class="fig-caption">Aman Tiwari <br>Developer</h4>
                  <a href="tel:7309603865" data-toggle="tooltip" data-placement="bottom" data-html="true" title="<div class='specmodal'>7309603865</div>" class="caption-icon"><i class="fa fa-phone faa-bounce animated-hover "></i></a>
                  <a href="mailto:tiwariaman2000@gmail.com" class="caption-icon"><i class="fa fa-envelope faa-bounce animated-hover "></i></a>
                  <a href="https://www.facebook.com/AmanTiwari1503" target="_blank" class="caption-icon"><i class="fa fa-facebook faa-bounce animated-hover "></i></a>
                </div>
							</div>
						</div>

					</div>
				</div><!-- /slide -->


				<div class="slide slide--layout-5" data-layout="layout5">
					<div class="slide__title">
						<h3 class="slide__title-main">Social</h3>
					</div>
					<div class="slide-imgwrap slide-imgwrap-ctm">
						<div class="slide__img">
							<div class="slide__img-inner" style="background-image: url(https://assets.rdviitd.org/images/team/KaustubhSaxena_.jpg);">
								<div class="slide__img-caption">
                  <h4 class="fig-caption">Kaustubh Saxena<br>Core Team Member</h4>
                  <a href="tel:9810215771" class="caption-icon"><i class="fa fa-phone faa-bounce animated-hover "></i></a>
                  <a href="mailto:kaustubhsaxena21@gmail.com" class="caption-icon"><i class="fa fa-envelope faa-bounce animated-hover "></i></a>
                  <a href="https://www.facebook.com/kaustubh.saxena.5" target="_blank" class="caption-icon"><i class="fa fa-facebook faa-bounce animated-hover "></i></a>
                </div>
							</div>
						</div>
					</div>
					<div class="row">
					<div class="slide-imgwrap">
						<div class="slide__img">
							<div class="slide__img-inner" style="background-image: url(https://assets.rdviitd.org/images/team/Mallika.jpeg);">
								<div class="slide__img-caption">
                  <h4 class="fig-caption">Mallika Singla <br>Coordinator</h4>
                  <a href="tel:9013035160" class="caption-icon"><i class="fa fa-phone faa-bounce animated-hover "></i></a>
                  <a href="mailto:singla.mallika@gmail.com" class="caption-icon"><i class="fa fa-envelope faa-bounce animated-hover "></i></a>
                  <a href="https://www.facebook.com/mallika.singla.5" target="_blank" class="caption-icon"><i class="fa fa-facebook faa-bounce animated-hover "></i></a>
                </div>
							</div>
						</div>
            <div class="slide__img">
							<div class="slide__img-inner" style="background-image: url(https://assets.rdviitd.org/images/team/JatinBansal_.jpg);">
								<div class="slide__img-caption">
                  <h4 class="fig-caption">Jatin Bansal <br>Coordinator</h4>
                  <a href="tel:8510893989" class="caption-icon"><i class="fa fa-phone faa-bounce animated-hover "></i></a>
                  <a href="mailto:bnsl.j3234@gmail.com" class="caption-icon"><i class="fa fa-envelope faa-bounce animated-hover "></i></a>
                  <a href="" target="_blank" class="caption-icon"><i class="fa fa-facebook faa-bounce animated-hover "></i></a>
                </div>
							</div>
						</div>
            <div class="slide__img">
							<div class="slide__img-inner" style="background-image: url(https://assets.rdviitd.org/images/team/AyushiAgarwal_-2.jpg);">
								<div class="slide__img-caption">
                  <h4 class="fig-caption">Ayushi Agarwal <br>Coordinator</h4>
                  <a href="tel:8745837300" class="caption-icon"><i class="fa fa-phone faa-bounce animated-hover "></i></a>
                  <a href="mailto:ayushi2106@gmail.com" class="caption-icon"><i class="fa fa-envelope faa-bounce animated-hover "></i></a>
                  <a href="" target="_blank" class="caption-icon"><i class="fa fa-facebook faa-bounce animated-hover "></i></a>
                </div>
							</div>
						</div>

					</div>
					</div>
				</div><!-- /slide -->




<div class="slide slide--layout-5" data-layout="layout5">
					<div class="slide__title">
						<h3 class="slide__title-main">Security</h3>
					</div>
					<div class="slide-imgwrap slide-imgwrap-ctm">
						<div class="slide__img">
							<div class="slide__img-inner" style="background-image: url(https://assets.rdviitd.org/images/team/SarthakKala_-3.jpg);">
								<div class="slide__img-caption">
                  <h4 class="fig-caption">Sarthak Kala<br>Core Team Member</h4>
                  <a href="tel:9560942209" data-toggle="tooltip" data-placement="bottom" data-html="true" title="<div class='specmodal'>9560942209</div>" class="caption-icon"><i class="fa fa-phone faa-bounce animated-hover "></i></a>
                  <a href="mailto:sarthakkala22@gmail.com" class="caption-icon"><i class="fa fa-envelope faa-bounce animated-hover "></i></a>
                  <a href="https://www.facebook.com/sarthakjain22" target="_blank" class="caption-icon"><i class="fa fa-facebook faa-bounce animated-hover "></i></a>
                </div>
							</div>
						</div>
					</div>
					<div class="row">
					<div class="slide-imgwrap">
						<div class="slide__img">
							<div class="slide__img-inner" style="background-image: url(https://assets.rdviitd.org/images/team/Sourabh_.jpg);">
								<div class="slide__img-caption">
                  <h4 class="fig-caption">Saurabh Subramaniam <br>Coordinator</h4>
                  <a href="tel:8860967879" class="caption-icon"><i class="fa fa-phone faa-bounce animated-hover "></i></a>
                  <a href="mailto:saurabhsubramaniam@gmail.com" class="caption-icon"><i class="fa fa-envelope faa-bounce animated-hover "></i></a>
                  <a href="https://m.facebook.com/profile.php?ref=bookmarks" target="_blank" class="caption-icon"><i class="fa fa-facebook faa-bounce animated-hover "></i></a>
                </div>
							</div>
						</div>
            <div class="slide__img">
							<div class="slide__img-inner" style="background-image: url(https://assets.rdviitd.org/images/team/Tanya_.jpg);">
								<div class="slide__img-caption">
                  <h4 class="fig-caption">Tanya Singh <br>Coordinator</h4>
                  <a href="tel:9810144134" class="caption-icon"><i class="fa fa-phone faa-bounce animated-hover "></i></a>
                  <a href="mailto:tanyasingh.srv@gmail.com" class="caption-icon"><i class="fa fa-envelope faa-bounce animated-hover "></i></a>
                  <a href="https://www.facebook.com/TanyaSingh2907" target="_blank" class="caption-icon"><i class="fa fa-facebook faa-bounce animated-hover "></i></a>
                </div>
							</div>
						</div>
            <div class="slide__img">
							<div class="slide__img-inner" style="background-image: url(https://assets.rdviitd.org/images/team/Pulkit_.jpg);">
								<div class="slide__img-caption">
                  <h4 class="fig-caption">Pulkit Sharma <br>Coordinator</h4>
                  <a href="tel:9810144134" class="caption-icon"><i class="fa fa-phone faa-bounce animated-hover "></i></a>
                  <a href="mailto:tanyasingh.srv@gmail.com" class="caption-icon"><i class="fa fa-envelope faa-bounce animated-hover "></i></a>
                  <a href="https://www.facebook.com/TanyaSingh2907" target="_blank" class="caption-icon"><i class="fa fa-facebook faa-bounce animated-hover "></i></a>
                </div>
							</div>
						</div>
            <div class="slide__img">
							<div class="slide__img-inner" style="background-image: url(https://assets.rdviitd.org/images/team/Shubham_.jpg);">
								<div class="slide__img-caption">
                  <h4 class="fig-caption">Shubham Kumar <br>Coordinator</h4>
                  <a href="tel:9650255346" class="caption-icon"><i class="fa fa-phone faa-bounce animated-hover "></i></a>
                  <a href="mailto:shubhamgupta16novv@gmail.com" class="caption-icon"><i class="fa fa-envelope faa-bounce animated-hover "></i></a>
                  <a href="" class="caption-icon"><i class="fa fa-facebook faa-bounce animated-hover "></i></a>
                </div>
							</div>
						</div>

					</div>
				</div>
				</div>






				<div class="slide slide--layout-5" data-layout="layout5">
					<div class="slide__title">
						<h3 class="slide__title-main">Infrastructure</h3>
					</div>
					<div class="slide-imgwrap slide-imgwrap-ctm">
						<div class="slide__img">
							<div class="slide__img-inner" style="background-image: url(https://assets.rdviitd.org/images/team/SarthakKala_-3.jpg);">
								<div class="slide__img-caption">
                  <h4 class="fig-caption">Sarthak Kala<br>Core Team Member</h4>
                  <a href="tel:9560942209"  data-toggle="tooltip" data-placement="bottom" data-html="true" title="<div class='specmodal'>9560942209</div>" class="caption-icon"><i class="fa fa-phone faa-bounce animated-hover "></i></a>
                  <a href="mailto:sarthakkala22@gmail.com" class="caption-icon"><i class="fa fa-envelope faa-bounce animated-hover "></i></a>
                  <a href="https://www.facebook.com/sarthakjain22" target="_blank" class="caption-icon"><i class="fa fa-facebook faa-bounce animated-hover "></i></a>
                </div>
							</div>
						</div>
					</div>
					<div class="row">
					<div class="slide-imgwrap">
						<div class="slide__img">
							<div class="slide__img-inner" style="background-image: url(https://assets.rdviitd.org/images/team/Piyush_.jpg);">
								<div class="slide__img-caption">
                  <h4 class="fig-caption">Piyush K. Saini <br>Coordinator</h4>
                  <a href="tel:8588854604" class="caption-icon"><i class="fa fa-phone faa-bounce animated-hover "></i></a>
                  <a href="mailto:piyushksaini2511@gmail.com" class="caption-icon"><i class="fa fa-envelope faa-bounce animated-hover "></i></a>
                  <a href="https://www.facebook.com/piyush.saini.77985" target="_blank" class="caption-icon"><i class="fa fa-facebook faa-bounce animated-hover "></i></a>
                </div>
							</div>
						</div>
            <div class="slide__img">
							<div class="slide__img-inner" style="background-image: url(https://assets.rdviitd.org/images/team/amano.jpg);">
								<div class="slide__img-caption">
                  <h4 class="fig-caption">Aman Kumar Singh <br>Coordinator</h4>
                  <a href="tel:9810150175" class="caption-icon"><i class="fa fa-phone faa-bounce animated-hover "></i></a>
                  <a href="mailto:amankumarsingh2468@gmail.com" class="caption-icon"><i class="fa fa-envelope faa-bounce animated-hover "></i></a>
                  <a href="https://www.facebook.com/amankumarsingh2468" target="_blank" class="caption-icon"><i class="fa fa-facebook faa-bounce animated-hover "></i></a>
                </div>
							</div>
						</div>
            <div class="slide__img">
							<div class="slide__img-inner" style="background-image: url(https://assets.rdviitd.org/images/team/AbhishekSahu_.jpg);">
								<div class="slide__img-caption">
                  <h4 class="fig-caption">Abhishek Sahu <br>Coordinator</h4>
                  <a href="tel:9716110942" class="caption-icon"><i class="fa fa-phone faa-bounce animated-hover "></i></a>
                  <a href="mailto:sahu.abhishek45@gmail.com" class="caption-icon"><i class="fa fa-envelope faa-bounce animated-hover "></i></a>
                  <a href="" class="caption-icon"><i class="fa fa-facebook faa-bounce animated-hover "></i></a>
                </div>
							</div>
						</div>
						<div class="slide__img">
							<div class="slide__img-inner" style="background-image: url(https://assets.rdviitd.org/images/team/Yashti_.jpg);">
								<div class="slide__img-caption">
                  <h4 class="fig-caption">Yashti Agrawal <br>Coordinator</h4>
                  <a href="tel:9870000874" class="caption-icon"><i class="fa fa-phone faa-bounce animated-hover "></i></a>
                  <a href="mailto:yashtiagrawal216@gmail.com" class="caption-icon"><i class="fa fa-envelope faa-bounce animated-hover "></i></a>
                  <a href="https://www.facebook.com/yashti.agrawal" target="_blank" class="caption-icon"><i class="fa fa-facebook faa-bounce animated-hover "></i></a>
                </div>
							</div>
						</div>
            <div class="slide__img">
							<div class="slide__img-inner" style="background-image: url(https://assets.rdviitd.org/images/team/Ravindra_-5.jpg);">
								<div class="slide__img-caption">
                  <h4 class="fig-caption">Ravindra Pindel <br>Coordinator</h4>
                  <a href="tel:9971549272" class="caption-icon"><i class="fa fa-phone faa-bounce animated-hover "></i></a>
                  <a href="mailto:ravindrapindel@gmail.com" class="caption-icon"><i class="fa fa-envelope faa-bounce animated-hover "></i></a>
                  <a href="https://www.facebook.com/ravindra.pindel" target="_blank" class="caption-icon"><i class="fa fa-facebook faa-bounce animated-hover "></i></a>
                </div>
							</div>
						</div>

					</div>
				</div>
				</div>





				<div class="slide slide--layout-5" data-layout="layout5">
					<div class="slide__title">
						<h3 class="slide__title-main">Creative</h3>
					</div>
					<div class="slide-imgwrap slide-imgwrap-ctm">
						<div class="slide__img">
							<div class="slide__img-inner" style="background-image: url(https://assets.rdviitd.org/images/team/KartikAgarwal_.jpg);">
								<div class="slide__img-caption">
                  <h4 class="fig-caption">Kartik Goyal<br>Overall Coordinator</h4>
                  <a href="tel:9560941007" data-toggle="tooltip" data-placement="bottom" data-html="true" title="<div class='specmodal'>9560941007</div>" class="caption-icon"><i class="fa fa-phone faa-bounce animated-hover "></i></a>
                  <a href="mailto:kartikgoyal063@gmail.com" class="caption-icon"><i class="fa fa-envelope faa-bounce animated-hover "></i></a>
                  <a href="https://www.facebook.com/kartik.goyal" target="_blank" class="caption-icon"><i class="fa fa-facebook faa-bounce animated-hover "></i></a>
                </div>
							</div>
						</div>
					</div>
					<div class="row">
					<div class="slide-imgwrap">
						<div class="slide__img">
							<div class="slide__img-inner" style="background-image: url(https://assets.rdviitd.org/images/team/JiveshMadan_-2.jpg);">
								<div class="slide__img-caption">
                  <h4 class="fig-caption">Jivesh Madaan <br>Coordinator</h4>
                  <a href="tel:9911047030" class="caption-icon"><i class="fa fa-phone faa-bounce animated-hover "></i></a>
                  <a href="mailto:jivesh.madan8@gmail.com" class="caption-icon"><i class="fa fa-envelope faa-bounce animated-hover "></i></a>
                  <a href="https://www.facebook.com/jivesh.madan.1" target="_blank" class="caption-icon"><i class="fa fa-facebook faa-bounce animated-hover "></i></a>
                </div>
							</div>
						</div>
            <div class="slide__img">
							<div class="slide__img-inner" style="background-image: url(https://assets.rdviitd.org/images/team/UtkarshGupta_.jpg);">
								<div class="slide__img-caption">
                  <h4 class="fig-caption">Utkarsh Gupta <br>Coordinator</h4>
                  <a href="tel:9650011671" class="caption-icon"><i class="fa fa-phone faa-bounce anim (Coordinator)ated-hover "></i></a>
                  <a href="mailto:utkarshgupta137@gmail.com" class="caption-icon"><i class="fa fa-envelope faa-bounce animated-hover "></i></a>
                  <a href="https://www.facebook.com/utkarshgupta137" target="_blank" class="caption-icon"><i class="fa fa-facebook faa-bounce animated-hover "></i></a>
                </div>
							</div>
						</div>
           <!-- <div class="slide__img">
							<div class="slide__img-inner" style="background-image: url(https://assets.rdviitd.org/images/team/sunil.jpg);">
								<div class="slide__img-caption">
                  <h4 class="fig-caption">Kumari Nidhi <br>Coordinator</h4>
                  <a href="tel:7739755725" class="caption-icon"><i class="fa fa-phone faa-bounce animated-hover "></i></a>
                  <a href="mailto:nidhimdes17@gmail.com" class="caption-icon"><i class="fa fa-envelope faa-bounce animated-hover "></i></a>
                  <a href="" target="_blank" class="caption-icon"><i class="fa fa-facebook faa-bounce animated-hover "></i></a>
                </div>
							</div>
						</div>-->
            <div class="slide__img">
							<div class="slide__img-inner" style="background-image: url(https://assets.rdviitd.org/images/team/Parth_.jpg);">
								<div class="slide__img-caption">
                  <h4 class="fig-caption">Parth Agarwal <br>Coordinator</h4>
                  <a href="tel:9440539291" class="caption-icon"><i class="fa fa-phone faa-bounce animated-hover "></i></a>
                  <a href="mailto:parthagarwal2@gmail.com" class="caption-icon"><i class="fa fa-envelope faa-bounce animated-hover "></i></a>
                  <a href="https://www.facebook.com/parth.agarwal.902" target="_blank" class="caption-icon"><i class="fa fa-facebook faa-bounce animated-hover "></i></a>
                </div>
							</div>
						</div>
							</div>
					</div>
				</div><!-- /slide -->





				<div class="slide slide--layout-5" data-layout="layout5">
					<div class="slide__title">
						<h3 class="slide__title-main">Hospitality</h3>
					</div>
					<div class="slide-imgwrap">
						<div class="slide__img">
							<div class="slide__img-inner" style="background-image: url(https://assets.rdviitd.org/images/team/AditiNeema_.jpg);">
								<div class="slide__img-caption">
                  <h4 class="fig-caption">Aditi Neema <br>Coordinator</h4>
                  <a href="tel:9560933365" class="caption-icon"><i class="fa fa-phone faa-bounce animated-hover "></i></a>
                  <a href="mailto:aditi.neema23@gmail.com" class="caption-icon"><i class="fa fa-envelope faa-bounce animated-hover "></i></a>
                  <a href="https://www.facebook.com/aditi.neema.52" target="_blank" class="caption-icon"><i class="fa fa-facebook faa-bounce animated-hover "></i></a>
                </div>
							</div>
						</div>
            <div class="slide__img">
							<div class="slide__img-inner" style="background-image: url(https://assets.rdviitd.org/images/team/ShubhikaJain_.jpg);">
								<div class="slide__img-caption">
                  <h4 class="fig-caption">Shubhika Jain <br>Coordinator</h4>
                  <a href="tel:9911064114" class="caption-icon"><i class="fa fa-phone faa-bounce anim (Coordinator)ated-hover "></i></a>
                  <a href="mailto:shubhikajain2502@gmail.com" class="caption-icon"><i class="fa fa-envelope faa-bounce animated-hover "></i></a>
                  <a href="https://www.facebook.com/shubhika.jain.56" target="_blank" class="caption-icon"><i class="fa fa-facebook faa-bounce animated-hover "></i></a>
                </div>
							</div>
						</div>
            <div class="slide__img">
							<div class="slide__img-inner" style="background-image: url(https://assets.rdviitd.org/images/team/Akshar_-5.jpg);">
								<div class="slide__img-caption">
                  <h4 class="fig-caption">Akshar Madhavaram <br>Coordinator</h4>
                  <a href="tel:9989363686" class="caption-icon"><i class="fa fa-phone faa-bounce animated-hover "></i></a>
                  <a href="mailto:akshar362@gmail.com" class="caption-icon"><i class="fa fa-envelope faa-bounce animated-hover "></i></a>
                  <a href="https://www.facebook.com/akshar362" target="_blank" class="caption-icon"><i class="fa fa-facebook faa-bounce animated-hover "></i></a>
                </div>
							</div>
						</div>
							</div>
					</div><!-- /slide -->




				<div class="slide slide--layout-5" data-layout="layout5">
					<div class="slide__title">
						<h3 class="slide__title-main">Decoration and Ambience</h3>
					</div>
					<div class="slide-imgwrap">
						<div class="slide__img">
							<div class="slide__img-inner" style="background-image: url(https://assets.rdviitd.org/images/team/Shiva_.jpg);">
								<div class="slide__img-caption">
                  <h4 class="fig-caption">Ch. Shiva Sai Krishna<br>Coordinator</h4>
                  <a href="tel:8130976865" class="caption-icon"><i class="fa fa-phone faa-bounce animated-hover "></i></a>
                  <a href="mailto:shiva1sai2krishna3@gmail.com" class="caption-icon"><i class="fa fa-envelope faa-bounce animated-hover "></i></a>
                  <a href="https://www.facebook.com/salmosor.sores" target="_blank" class="caption-icon"><i class="fa fa-facebook faa-bounce animated-hover "></i></a>
                </div>
							</div>
						</div>
            <div class="slide__img">
							<div class="slide__img-inner" style="background-image: url(https://assets.rdviitd.org/images/team/Saurabh_-2.jpg);">
								<div class="slide__img-caption">
                  <h4 class="fig-caption">Saurabh Verma<br>Coordinator</h4>
                  <a href="tel:9891066374" class="caption-icon"><i class="fa fa-phone faa-bounce anim (Coordinator)ated-hover "></i></a>
                  <a href="mailto:srbhvrma25@gmail.com" class="caption-icon"><i class="fa fa-envelope faa-bounce animated-hover "></i></a>
                  <a href="" target="_blank" class="caption-icon"><i class="fa fa-facebook faa-bounce animated-hover "></i></a>
                </div>
							</div>
						</div>
							</div>
					</div><!-- /slide -->




<div class="slide slide--layout-5" data-layout="layout5">
					<div class="slide__title">
						<h3 class="slide__title-main">Admin and Finance</h3>
					</div>
					<div class="slide-imgwrap">
						<div class="slide__img">
							<div class="slide__img-inner" style="background-image: url(https://assets.rdviitd.org/images/team/Pranay_.jpg);">
								<div class="slide__img-caption">
                  <h4 class="fig-caption">Pranay Kumar Reddy <br>Coordinator</h4>
                  <a href="tel:8639173958" class="caption-icon"><i class="fa fa-phone faa-bounce animated-hover "></i></a>
                  <a href="mailto:pranay.reddy235@gmail.com" class="caption-icon"><i class="fa fa-envelope faa-bounce animated-hover "></i></a>
                  <a href="https://www.facebook.com/pranay.reddy.3705" target="_blank" class="caption-icon"><i class="fa fa-facebook faa-bounce animated-hover "></i></a>
                </div>
							</div>
						</div>
						</div>
					</div>





<div class="slide slide--layout-5" data-layout="layout5">
					<div class="slide__title">
						<h3 class="slide__title-main">Prizes</h3>
					</div>
					<div class="slide-imgwrap">
						<div class="slide__img">
							<div class="slide__img-inner" style="background-image: url(https://assets.rdviitd.org/images/team/Harneet_.jpg);">
								<div class="slide__img-caption">
                  <h4 class="fig-caption">Harneet Singh <br>Coordinator</h4>
                  <a href="tel:9911059386" class="caption-icon"><i class="fa fa-phone faa-bounce animated-hover "></i></a>
                  <a href="mailto:harneet1997@gmail.com" class="caption-icon"><i class="fa fa-envelope faa-bounce animated-hover "></i></a>
                  <a href="https://www.facebook.com/harneet.singh.7106" target="_blank" class="caption-icon"><i class="fa fa-facebook faa-bounce animated-hover "></i></a>
                </div>
							</div>
						</div>
						</div>
					</div><!-- /slide -->




			<div class="slide slide--layout-2" data-layout="layout2">
				<div class="slide-imgwrap" style="position:absolute;top:80px;">
					<div class="slide__img"><div class="slide__img-inner" style="background-image: url(https://assets.rdviitd.org/images/team/Sidana_.jpg);"></div></div>
					<div class="slide__img"><div class="slide__img-inner" style="background-image: url(https://assets.rdviitd.org/images/team/SarthakKala_-3.jpg);"></div></div>
					<div class="slide__img"><div class="slide__img-inner" style="background-image: url(https://assets.rdviitd.org/images/team/Rudraksh_.jpg);"></div></div>
					<div class="slide__img"><div class="slide__img-inner" style="background-image: url(https://assets.rdviitd.org/images/team/KaustubhSaxena_.jpg);"></div></div>
					<div class="slide__img">
						<div class="slide__img-inner" style="background-image: url(https://assets.rdviitd.org/images/team/mohit.jpg);">
							<div class="slide__img-caption">
								<h4 class="fig-caption">Mohit Agarwal <br>Overall Coordinator</h4>
								<!-- <h4 class="fig-caption">Overall Coordinator</h4> -->
								<a href="tel:9829532703" data-toggle="tooltip" data-placement="bottom" data-html="true" title="<div class='specmodal'>9829532703</div>" class="caption-icon"><i class="fa fa-phone faa-bounce animated-hover "></i></a>
								<a href="mailto:mohit.me662@gmail.com" class="caption-icon"><i class="fa fa-envelope faa-bounce animated-hover "></i></a>
								<a href="https://www.facebook.com/mohitagarwal662" target="_blank" class="caption-icon"><i class="fa fa-facebook faa-bounce animated-hover "></i></a>
								<a href="https://www.linkedin.com/in/mohit-agarwal-273587129" target="_blank" class="caption-icon"><i class="fa fa-linkedin faa-bounce animated-hover "></i></a>
							</div>
						</div>
					</div>
				</div>
				<div class="slide__title" style="opacity: 1;">
					<h3 class="slide__title-main">Core Team</h3>
				</div>
			</div><!-- /slideshow -->
			<nav class="slideshow__nav slideshow__nav--arrows">
				<button id="prev-slide" class="btn btn--arrow" aria-label="Previous slide"><svg class="icon icon--prev"><use xlink:href="#icon-prev"></use></svg></button>
				<button id="next-slide" class="btn btn--arrow" aria-label="Next slide"><svg class="icon icon--next"><use xlink:href="#icon-next"></use></svg></button>
			</nav>
		</main>
