<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
	<%include ../partials/_metaContent.ejs%>

	<%include partials/headerCss.ejs%>

</head>
<body>
	<!-- Navbar -->
	<%include  partials/content.ejs%>



	<!-- Footer Scripts -->
	<%include partials/footerScripts.ejs%>
</body>
</html>
