<div class="split-slideshow">
  <div class="slideshow">
  <a href="/"><i class="icon icon-logo1 imp"></i></a>
    <div class="slider">
      <div class="item">
        <a href="/events/adventure"><img src="http://rdv-website-assets.s3.ap-south-1.amazonaws.com/images/events/adventure.jpg"/>
          </a>
      </div>
      <div class="item">
        <a href="/events/comedy"><img src="http://rdv-website-assets.s3.ap-south-1.amazonaws.com/images/events/comedy.jpg"/>
          </a>
      </div>
      <div class="item">
        <a href="/events/culinary"><img src="http://rdv-website-assets.s3.ap-south-1.amazonaws.com/images/events/culinary.jpg"/>
          </a>
      </div>
      <div class="item">
        <a href="/events/dance"><img src="http://rdv-website-assets.s3.ap-south-1.amazonaws.com/images/events/dance.jpg"/>
          </a>
      </div>
      <div class="item">
         <a href="/events/debating"><img src="http://rdv-website-assets.s3.ap-south-1.amazonaws.com/images/events/deb.jpg"/>
         </a>
      </div>
      <div class="item">
        <a href="/events/dramatics"><img src="http://rdv-website-assets.s3.ap-south-1.amazonaws.com/images/events/drama.jpg"/>
          </a>
      </div>
      <div class="item">
        <a href="/events/facc"><img src="http://rdv-website-assets.s3.ap-south-1.amazonaws.com/images/events/facc.jpg"/>
          </a>
      </div>
      <div class="item">
        <a href="/events/glamour"><img src="http://rdv-website-assets.s3.ap-south-1.amazonaws.com/images/events/glamour.jpg"/>
          </a>
      </div>
      <div class="item">
        <a href="/events/hindisamiti"><img src="http://rdv-website-assets.s3.ap-south-1.amazonaws.com/images/events/hindisamiti.jpg"/>
          </a>
      </div>
      <div class="item">
        <a href="/events/literary"><img src="http://rdv-website-assets.s3.ap-south-1.amazonaws.com/images/events/literary.jpg"/>
          </a>
      </div>
      <div class="item">
        <a href="/events/magic"><img src="http://rdv-website-assets.s3.ap-south-1.amazonaws.com/images/events/magic.jpg"/>
          </a>
      </div>
      <div class="item">
        <a href="/events/music"><img src="http://rdv-website-assets.s3.ap-south-1.amazonaws.com/images/events/music.jpg"/>
          </a>
      </div>
      <div class="item">
        <a href="/events/pfc"><img src="http://rdv-website-assets.s3.ap-south-1.amazonaws.com/images/events/pfc.jpeg"/>
          </a>
      </div>
      <div class="item">
        <a href="/events/quizzing"><img src="http://rdv-website-assets.s3.ap-south-1.amazonaws.com/images/events/quizzing.jpg"/>
          </a>
      </div>
      <div class="item">
        <a href="/events/spicmacay"><img src="http://rdv-website-assets.s3.ap-south-1.amazonaws.com/images/events/spicmacay.jpg"/>
          </a>
      </div>
      <div class="item">
        <a href="/events/talent"><img src="http://rdv-website-assets.s3.ap-south-1.amazonaws.com/images/events/talent.jpg"/>
          </a>
      </div>
    </div>
  </div>

  <div class="slideshow-text">
    <div class="item">ADVENTURE</div>
    <div class="item">COMEDY</div>
    <div class="item">CULINARY</div>
    <div class="item">DANCE</div>
    <div class="item">DEBATING</div>
    <div class="item">DRAMATICS</div>
    <div class="item">FINE ARTS AND CRAFTS</div>
    <div class="item">GLAMOUR</div>
    <div class="item">HINDI SAMITI</div>
    <div class="item">LITERARY</div>
    <div class="item">MAGIC</div>
    <div class="item">MUSIC</div>
    <div class="item">PHOTOGRAPHY FILMS AND DESIGN</div>
    <div class="item">QUIZZING</div>
    <div class="item">SPIC MACAY</div>
    <div class="item">TALENT</div>
  </div>

</div>
