<!DOCTYPE html>
<html lang="en">
<head>
	<%include ../../partials/_metaContent.ejs%>

	<%include partials/headerCss.ejs%>

</head>
<body>
  <!-- Events section -->
  <%include partials/mainContent.ejs%>


	<!-- Footer Scripts -->
	<%include partials/footerScripts.ejs%>
</body>
</html>
