<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Rendezvous'18, A Symphony of Nostalgia</title>
    <link rel="icon" href="https://s3.ap-south-1.amazonaws.com/rdv-sponsor-logos/logos/WittyFeed/rdv-bruh.png" type="image/png">
    <link rel="shortcut icon" href="https://s3.ap-south-1.amazonaws.com/rdv-sponsor-logos/logos/WittyFeed/rdv-bro.ico" type="img/x-icon">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <style>
    img{
      max-width:400px;
      max-height:300px;
    }
    @font-face {
    font-family: gothic;
    src: url(/assets/fonts/GOTHIC.TTF);
}
@font-face {
    font-family: caviar;
    src: url(/assets/fonts/CaviarDreams.ttf);
}
  h1{
    font-family:'gothic';
    font-size: 3.5rem;
  }
  img{
    margin-bottom:40px;
  }
  .abc{
    padding-top:40px;
    width:60px;
  }
  @media (max-width:768px)
  {
    h1{
    font-size:2.0rem;
  }
  .abc{
    padding-top: 20px;
    width:40px;
  }
  }
  h4{
    font-family: 'caviar';
    font-weight:900;
  }
  </style>
  </head>

  <body style="padding-top:10px;background-image: url(https://s3.ap-south-1.amazonaws.com/rdv-sponsor-logos/logos/bg.jpg);">

    <!-- Navigation -->

    <!-- Page Content -->
    <div class="container">
      <a href="http://rdv-iitd.com"><img class="img-fluid abc" src="https://s3.ap-south-1.amazonaws.com/rdv-sponsor-logos/logos/WittyFeed/rdv-bruh.png" style="position:absolute;" /></a>
      <h1 class="my-4 text-center">Rendezvous'18<br>Sponsors</h1>

      <div class="row text-center text-lg-left">

        <div class="col-lg-4 col-md-4 col-xs-6">
          <h4 class="text-center">Air Conditioning Partner</h4>
          <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="https://s3.ap-south-1.amazonaws.com/rdv-sponsor-logos/logos/Daikin+Logo+Air+Conditioners.jpg" alt="">
          </a>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-6">
          <h4 class="text-center">Online Media Partner</h4>
          <a href="#" class="d-block mb-4 h-100 text-center">
            <img class="img-fluid img-thumbnail" src="https://s3.ap-south-1.amazonaws.com/rdv-sponsor-logos/logos/DUExpress_logo.png" alt="">
          </a>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-6">
          <h4 class="text-center">Online Media Partner</h4>
          <a href="#" class="d-block mb-4 h-100 text-center">
            <img class="img-fluid img-thumbnail" src="https://s3.ap-south-1.amazonaws.com/rdv-sponsor-logos/logos/Ignite_Engineers_Logo_for_banner_poster.png" alt="">
          </a>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-6">
          <h4 class="text-center">Audio Partner</h4>
          <a href="#" class="d-block mb-4 h-100 text-center">
            <img class="img-fluid img-thumbnail" src="https://s3.ap-south-1.amazonaws.com/rdv-sponsor-logos/logos/Zebronics.png" alt="">
          </a>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-6">
          <h4 class="text-center">Online Media Partner</h4>
          <a href="#" class="d-block mb-4 h-100 text-center">
            <img class="img-fluid img-thumbnail" src="https://s3.ap-south-1.amazonaws.com/rdv-sponsor-logos/logos/NDT+logo.png" alt="">
          </a>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-6">
          <h4 class="text-center">Official Gadget Partner</h4>
          <a href="#" class="d-block mb-4 h-100 text-center">
            <img class="img-fluid img-thumbnail" src="https://s3.ap-south-1.amazonaws.com/rdv-sponsor-logos/logos/Portronics.jpg" alt="">
          </a>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-6">
          <h4 class="text-center">Music Channel Partner</h4>
          <a href="#" class="d-block mb-4 h-100 text-center">
            <img class="img-fluid img-thumbnail" src="https://s3.ap-south-1.amazonaws.com/rdv-sponsor-logos/logos/9XM+red+logo+copy.png" alt="">
          </a>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-6">
          <h4 class="text-center">Official Technology Partner</h4>
          <a href="#" class="d-block mb-4 h-100 text-center">
            <img class="img-fluid img-thumbnail" src="https://s3.ap-south-1.amazonaws.com/rdv-sponsor-logos/logos/TE.jpg" alt="">
          </a>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-6">
          <h4 class="text-center">Online Media Partner</h4>
          <a href="#" class="d-block mb-4 h-100 text-center">
            <img class="img-fluid img-thumbnail" src="https://s3.ap-south-1.amazonaws.com/rdv-sponsor-logos/logos/Yi_New_Logo_Black.png" alt="">
          </a>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-6">
          <h4 class="text-center">Official Sustainability Partner</h4>
          <a href="#" class="d-block mb-4 h-100 text-center">
            <img class="img-fluid img-thumbnail" src="https://s3.ap-south-1.amazonaws.com/rdv-sponsor-logos/logos/Wipro+Logo-1.png" alt="">
          </a>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-6">
          <h4 class="text-center">Workshops Partner</h4>
          <a href="#" class="d-block mb-4 h-100 text-center">
            <img class="img-fluid img-thumbnail" src="https://s3.ap-south-1.amazonaws.com/rdv-sponsor-logos/logos/RoboTech+Labs+Logo-1.png" alt="">
          </a>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-6">
          <h4 class="text-center">Student Mentorship Partner</h4>
          <a href="#" class="d-block mb-4 h-100 text-center">
            <img class="img-fluid img-thumbnail" src="https://s3.ap-south-1.amazonaws.com/rdv-sponsor-logos/logos/Learning+While+Travelling_09.01.2018.png" alt="">
          </a>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-6">
          <h4 class="text-center">Online Media Partner</h4>
          <a href="#" class="d-block mb-4 h-100 text-center">
            <img class="img-fluid img-thumbnail" src="https://s3.ap-south-1.amazonaws.com/rdv-sponsor-logos/logos/OhCampus+Logo.png" alt="">
          </a>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-6">
          <h4 class="text-center">Magazine Partner</h4>
          <a href="#" class="d-block mb-4 h-100 text-center">
            <img class="img-fluid img-thumbnail" src="https://s3.ap-south-1.amazonaws.com/rdv-sponsor-logos/logos/cocktail-zindagi-logo+PDF-1.png" alt="">
          </a>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-6">
          <h4 class="text-center">Sponsered By</h4>
          <a href="#" class="d-block mb-4 h-100 text-center">
            <img class="img-fluid img-thumbnail" src="https://s3.ap-south-1.amazonaws.com/rdv-sponsor-logos/logos/CIA+New+Logo+1x1+(1)-1.png" alt="">
          </a>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-6">
          <h4 class="text-center">Title Sponsor "Confluence"</h4>
          <a href="#" class="d-block mb-4 h-100 text-center">
            <img class="img-fluid img-thumbnail" src="https://s3.ap-south-1.amazonaws.com/rdv-sponsor-logos/logos/PC+1+VDP_LOGO_111499.jpg" alt="">
          </a>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-6">
          <h4 class="text-center">Social Media Content Partner</h4>
          <a href="#" class="d-block mb-4 h-100 text-center">
            <img class="img-fluid img-thumbnail" src="https://s3.ap-south-1.amazonaws.com/rdv-sponsor-logos/logos/WittyFeed+Logo.png" alt="">
          </a>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-6">
          <h4 class="text-center">Sponsered By</h4>
          <a href="#" class="d-block mb-4 h-100 text-center">
            <img class="img-fluid img-thumbnail" src="https://s3.ap-south-1.amazonaws.com/rdv-sponsor-logos/logos/logo.png" alt="">
          </a>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-6">
          <h4 class="text-center">Sponsered By</h4>
          <a href="#" class="d-block mb-4 h-100 text-center">
            <img class="img-fluid img-thumbnail" src="https://s3.ap-south-1.amazonaws.com/rdv-sponsor-logos/logos/full+resolution+png.png" alt="">
          </a>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-6">
          <h4 class="text-center">Sponsered By</h4>
          <a href="#" class="d-block mb-4 h-100 text-center">
            <img class="img-fluid img-thumbnail" src="https://s3.ap-south-1.amazonaws.com/rdv-sponsor-logos/logos/Paree+Pariz+logo.png" alt="">
          </a>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-6">
          <h4 class="text-center">Sponsered By</h4>
          <a href="#" class="d-block mb-4 h-100 text-center">
            <img class="img-fluid img-thumbnail" src="https://s3.ap-south-1.amazonaws.com/rdv-sponsor-logos/logos/Scaramanga+Technologies+Logo-1.png" alt="">
          </a>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-6">
          <h4 class="text-center">Sponsered By</h4>
          <a href="#" class="d-block mb-4 h-100 text-center">
            <img class="img-fluid img-thumbnail" src="https://s3.ap-south-1.amazonaws.com/rdv-sponsor-logos/logos/Transparant+LOGO+png.jpg" alt="">
          </a>
        </div>
      </div>

    </div>
    <!-- /.container -->

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  </body>

</html>